[2018-09-21 15:33] kurasu opened #1 "Switching patches doesn't refresh the display on the VST3 version"

[2018-09-21 15:34] kurasu opened #2 "MPE doesn't work correctly"
**Describe the bug**

Seems like the channels doesn't work (it needs to bypass the channel mechanism in this mode) and the pitch-bend range doesn't get set properly either

[2018-09-22 15:13] JurekR opened #3 "Doesn't compile on xcode 9.4.1"
Hi,

I was not able to compile the VST3 version using High Sierra and XCode 9.4.1 so far, since I ran into multiple issues. Surely it is because I have no idea what I am doing :)

- Patched build-osx.sh to use premake5 instead premake4
- Some strange header include errors, fixed by using "always search user paths"
- Then libc++ problems with the math calls, "filesystem" not found.Adding header pat

[2018-09-24 09:43] #1 closed

[2018-09-25 17:25] thereblight opened #4 "No GUI with VST2 on Ableton Live 9.7"
I installed Surge with the windows binary from the release page here. When I put the plugin on a midi track in the ableton live, it's loaded, it makes sound and I can even access the parameter list, but there's no Plug-in Edit button for opening the GUI. I assume that ableton sees Surge as a GUIless plugin.

 - OS: Windows 10
 - Host: Ableton Live
 - Version: 9.7.7

I tested it on other hosts that

[2018-09-25 19:40] beitenh opened #5 "It doesn't install the .dll surge file"
Thank you for this good synth! It is not copyed nor installed any vst file. I don't find it, in any site of the disk. Please your help.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you

[2018-09-25 21:18] sagamusix commented on #5
Indeed, the installer provided on the Releases page seems to install about 50MB of files to `%localappdata%\Surge` and the rest (uninstaller) ends up in the path the user actually specified. The DLL is found in neither of those two paths.

Slightly related: The default path the installer wants to install to is `%localappdata\Surge;` including the trailing Semicolon. This seems to not be intentiona

[2018-09-25 21:39] Gargaj commented on #5
For me the DLL ended up in ```C:\Program Files\Common Files\VST2\```

[2018-09-25 21:43] #4 closed

[2018-09-25 22:57] JurekR commented on #3
SurgeStorage.h:20:10: 'filesystem' file not found
it is not part of libc++ in xcode 9, cannot find it under "experimental/" either.
https://stackoverflow.com/questions/42633477/macos-clang-c17-filesystem-header-not-found
Seems that it will work with xcode 10, using experimental/filesystem.... Will do a system update soon.

[2018-09-26 07:23] lunafreya opened #8 "Support and optimization for recent CPU instruction sets"
As this synth is last updated around 2008 or 09-ish (I don't know when version 1.5.1a was released), the code must have been dated for use with processors that are in the retail market at that time, and might not play nice with today's processors like AMD's Ryzen series (in market since early 2017), as well as Intel's recent seventh and eighth generation Core i3/5/7/9 processors.

We need to optim

[2018-09-26 07:56] kurasu commented on #8
there's really not as much benefit to this as you'd think, it's already vectorized on 128-bit vectors. Going SSE4.1 could help some (it has direct floor/ceil/round calls without switching fpu mode) but would need to deal with compatibility with older machines (multiple binaries etc) so it might not be worth the effort.

Going wider with AVX1 (not 2, it's for ints) would be a lot of work. It could

[2018-09-26 07:56] #8 closed

[2018-09-26 07:57] kurasu opened #9 "Context menus doesn't work"
**Describe the bug**
Context menus doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Right click a slider

**Expected behavior**
A menu

[2018-09-26 07:59] JurekR commented on #3
No change with xcode 10 on 10.13.6.

[2018-09-26 08:08] kurasu opened #10 "GUI doesn't repaint when double-clicking to reset parameter"

[2018-09-26 08:23] kurasu opened #11 "Add support for VST3 Note Expressions"
Should allow for per-voice control of

- Pitch
- Timbre
- Pressure
- Volume
- Pan

Compatible hosts (at the moment) would be Cubase and Bitwig.

[2018-09-26 08:30] #10 closed

[2018-09-26 15:25] redactedscribe opened #12 "At least one preset crashes the plug-in"
Selecting the preset Monosynth > "Banjo remains" crashes the plug-in.

Windows 10 64-bit v1803
Surge 1.6.0b2

[2018-09-26 18:18] asimilon commented on #3
using `homebrew install llvm` and some of the instructions [here](http://antonmenshov.com/2017/09/09/clang-openmp-setup-in-xcode/), I've managed to get beyond `<filesystem>` not being available to Xcode 9.2 (I'm trying to build on Sierra)
But got stuck with some `Cannot initialize a parameter of type 'wchar_t *' with an lvalue of type 'Steinberg::Vst::String128' (aka 'Steinberg::Vst::TChar [128]')

[2018-09-26 18:58] getdunne opened #14 "Win32 build possible, but has bugs"
I was able to build the VST2 for Win32/x86 in VS2017, but it exhibits glitches with some presets, most notably "Polysynth - FM Poly 1".

Steps to reproduce the behavior:
1. Use VS2017 Configuration Manager to add the Win32 platform, then build the 32-bit VST2.
2. Open 32-bit VST2 in a 32-bit VST host (I used Hermann Seib's VSTHost).
3. Select preset "Polysynth - Embrass" and play lots of notes
4.

[2018-09-26 19:01] kurasu commented on #3
I think you could safely change these method to take a char* instead of a wchar_t* as it only assembles chars anyway in these 4 methods. (and then use swprintf and so on)

Longer term a better strategy would be good how to deal with strings at these layers in a nicer way, but for just getting mac building i'm happy with changing this.

[2018-09-26 19:19] getdunne opened #15 "Any chance of MIT-style license?"
Use of GPL3 means no one can ever use any of this code in a closed-source application. Does Steinberg's new "dual license" permit no alternative? This code could be more widely usable if at least some of it -- at least the parts which don't depend on the VST SDK -- could be governed by a less-restrictive license such as MIT or BSD.

[2018-09-26 20:14] asimilon commented on #3
OK, so that didn't help, and it also made VST2 start complaining about those methods, **but** leaving those as is I've succesfully built VST2 now!

[2018-09-26 22:06] #12 closed

[2018-09-27 05:13] kzantow commented on #3
@kurasu any issue just changing usage of `<filesystem>`, which seems to be just `fs::path` to `string`?

[2018-09-27 06:31] asimilon commented on #3
fs::directory_iterator is used too, there may be more

On Thu, 27 Sep 2018, 07:13 Keith Zantow, <notifications@github.com> wrote:

[2018-09-27 07:49] kurasu commented on #3
yeah, i was moving over to using filesystem in order to make linux porting easier no that its finally moving into the c++ spec, but it seems macOS is lagging here. But using the experimental namespace should be ok with homebrew llvm, right?

[2018-09-27 07:53] asimilon commented on #3
I had to remove the experimental portion of the namespace for it to build.
I pushed a separate branch on my fork so that others can build if they wish
but will look into how I can get it to work with premake before issuing a
pull request.

On Thu, 27 Sep 2018, 09:49 Claes Johanson, <notifications@github.com> wrote:

[2018-09-27 08:19] geoslake opened #16 "Portable mode ?"
Right now all files but the dll are stored in local appdata, which imho is not clean and adds complexity, fi when making backups or moving to another pc.
Would be nice to have the option to have the "surge" folder alongside with the dll (maybe the dll could detect that folder when its present and use that instead of appdata).

Cheers

[2018-09-27 09:46] kmatheussen opened #17 "Linux support (patch)"
I see there's a bit of activity here. Any objections to merge this one?
https://github.com/kmatheussen/surge/commit/d1443051d75b57fe3e3f38680059c86489b67f05

It compiles now, but I get some linking errors. It might work just to use a newer version of VSTGUI or gtkmm than I did, but I don't have time right now. Getting it in probably reduces work of others working later.
I renamed endian.h because

[2018-09-27 12:41] #17 closed

[2018-09-27 14:40] bluszcz opened #19 "Make Linux build"
Thanks for DAW's like Ardour, Renoise, Bitwig and or Tracktion - Linux made its mark in the music world. Many plugin vendors did start already porting their products (check U-HE for example).

It would be great to have Linux build of this synth,

[2018-09-27 14:58] asimilon commented on #19
https://github.com/kurasu/surge/commit/09a22e48b13d524ef9fba7dcce21e6635e7479ab
Something that in progress.

[2018-09-27 23:35] synthtester commented on #14
Can you share it? I'm here after following link from Vember that says binaries are available but the only Windows installer I found is x64.

[2018-09-28 01:12] getdunne commented on #14
@kurasu can you share this? If I do it, it will violate my license from Steinberg; I'm not prepared to risk that.

[2018-09-29 05:16] GeorgeNs commented on #19
Looking forward to be able to build it on linux!

[2018-09-29 18:54] nitelinejazz opened #21 "Mac binaries"
Hello, what about mac version? I looking forward for it. TNX.

[2018-09-29 19:17] MBYlt opened #22 "Could we get a GUI scaler / zoom?"
**Surge is great and incredibly powerful, but I hate squinting!**
It would be really nice if there was an option to resize the GUI, to make labels easier to read and to make it a bit easier to click the right areas during live situations. The best example I can think of off the top of my head is Serum, which allows you to set the GUI scale anywhere from 50% to 400%.

Doesn't have to look smooth or

[2018-09-30 18:57] funkaloss commented on #22
I agree. A somewhat scalable interface would be great.

[2018-10-01 13:28] Markovitch1 opened #24 "Not recognised on Ableton 8"
I tried the 3 releases of the installer, both vst2 and vst3, tried to re-start the computer, but none of them are displayed on my Ableton 8, windows 8, I'm so disapointed, any ideas to make it work ?

[2018-10-01 14:47] cyanit commented on #24
Does Ableton 8 support 64-bit vsts?
Even Ableton 9 doesn't support VST3, it would surprise me if AL8 would lack a core feature as well.
Please take a look at Ableton Live 8's spec sheet.

[2018-10-01 14:59] Markovitch1 commented on #24
Yes you're right, I didn't take attention that it's a 64bit plugin.. Thought it was 32bit as Surge is quite "old" now. When first release came out back in the days, it was 32bit, right ? Could be nice to make it available for those "not up to date guys" like me ;)
Thx for th answer anyway

[2018-10-01 15:03] cyanit commented on #24
but you could probably recompile it yourself as 32bit.

[2018-10-02 17:59] Markovitch1 commented on #24
I guess but I'm not a programmer at all. I'll keep the 64bit installer on a folder til I upgrade my daw

[2018-10-02 18:14] Moth-Tolias commented on #15
this is the point of the GPL3.

[2018-10-02 18:28] getdunne commented on #15
I know that. I would prefer a less restrictive, non-viral license, and I was asking if the author would (or could) consider it.

[2018-10-03 16:35] Jorgeelalto commented on #19
OK, so I just started tinkering with the Linux building thing and I managed to make it compile on the current version, the VST2 build. I don't know how to make it work though, tried running it with Reaper 5.95 on Ubuntu 16.04 but no luck - I suppose the Debug version it creates is not valid or something, or there is external data that I am not providing. I'm attaching here the code of the current

[2018-10-03 19:13] funkaloss opened #26 "VST3-Win: MIDI control issues"
I discovered this gem when it became open source, and now I'm exploring it.

I can't seem to control Surge with my Nektar controller. The pitch of the keyboard works fine but nothing else: not velocity, pitch bend, mod wheel or any other fader or knob.

[2018-10-04 02:20] GeorgeNs commented on #19
Yes I have tried too with Ubuntu 18,it compiles well it builds the .so file but I can't open it in any DAW or Carla...
I have tried the following:
premake5 --cc=gcc --os=linux gmake (if i am not wrong gmake is better than gmake2)
then
make config=release_x64

the vst2 is going to be built successfully but not the same for the vst3.
Anyway,even so, the vst2 .so file won't open
I didn't have time to

[2018-10-04 12:00] davephillips commented on #19
I'm having the same problems. I can build the plugin fine as a VST2 but it won't instantiate in Bitwig or Ardour. I'm building it here on Fedora 23, with GCC 5.3.1. The only error thrown by Bitwig is the rather unhelpful "Could not read metadata" message.

[2018-10-04 12:37] kmatheussen commented on #19
To compile on linux, see this pull request: https://github.com/kurasu/surge/pull/20

Also, the reason the current state doesn't load is probably because of missing symbols.
Run "ldd -r ldd -r target/vst2/Debug/Surge-Debug.so" to check that. This should probably be added to the build system.

If you compiled it successfully, it should look like this:
[code]

[2018-10-04 13:07] davephillips commented on #19
Hey Kjetil, Thanks for the assistance ! As I mentioned I can build the VST2 without problems. I ran ldd as per your instructions, got the following result, complete with a report of missing symbols. What stage did I miss ?

[dlphilp@The6300 surge]$ ldd -r target/vst2/Debug/Surge-Debug.so
	linux-vdso.so.1 (0x00007ffc1e5f7000)
	libgtkmm-3.0.so.1 => /lib64/libgtkmm-3.0.so.1 (0x00007f4da463c000)
	liba

[2018-10-04 13:12] kmatheussen commented on #19
Did you include the pull request and applied the patch included in that
pull request?

On Thu, Oct 4, 2018 at 3:07 PM, davephillips <notifications@github.com>
wrote:

[2018-10-04 15:55] cyanit commented on #24
just use a bitbridge, jBridge works in both ways and is 15 bucks

[2018-10-04 20:12] asimilon commented on #15
Nothing about VST license stopping it (afaik), but why would he want to allow someone else to profit from his hard work?  Because surely the only reason for it to be "more widely used" would be in a closed source codebase whose binaries are being sold.

[2018-10-04 20:31] getdunne commented on #15
Use of GPL3 means even a small piece of the code can't be used in any non-GPL project. This includes open-source libraries licensed under MIT, BSD, etc. If this is what the author wants, so be it, but it's his decision. @kurasu what do you say?

[2018-10-04 23:55] vX0r opened #27 "Crash on unload/quit (Ableton 9.7.1, 64-bit, Win8.1)"
The plug-in (VST2) causes crashes when removing Surge from a track or quitting Ableton, only displaying the generic "has stopped working" Windows error message.

[2018-10-05 07:16] cyanit commented on #27
have you tried reproducing this in other daws or is this an ableton only error?
Ill try to reproduce it in Bitwig Studio without sandboxig.

[2018-10-05 08:37] vX0r commented on #27
I have the demo version of Bitwig Studio 2.4 installed, it is not affected.

[2018-10-05 13:42] cyanit commented on #26
_Disclaimer: I'm not a surge/audio plugin developer, just suggesting common troubleshooting steps, which is usually to test what works and what doesn't to narrow down the source of the issue._

Okay, I just tested it and can confirm that this issue is present on my setup when Surge v1.6.0b3 is loaded as VST3. However, the VST2 version works fine.

**- Test 1.1 - (Issue occuring)**
Windows 10
Bitwi

[2018-10-05 14:10] funkaloss commented on #26
Nice form. I'll try to bug report/troubleshoot that organized next time.

Den fre 5 okt. 2018 15:43Leo <notifications@github.com> skrev:

[2018-10-08 15:11] kurasu commented on #2
can't reproduce this anymore

[2018-10-08 15:11] #2 closed

[2018-10-08 20:16] kurasu commented on #21
duplicates #3

[2018-10-08 20:16] #21 closed

[2018-10-10 18:29] AtmanActive commented on #16
+1
Version 1.5.0 for x86, from 2008. is portable.
Why did we lose portability with this new version?

[2018-10-18 19:49] vetramiga commented on #26
thank god, i went all over the place looking for drivers and that.  being this is the only VST i had installed on a new machine... so can also confirm the whole pitch bend / mod wheel data isn't getting to this.  i finally installed another free one and it pitchbent just fine...

that being said, this is basically my favorite synth plugin, and i was well excited to see it come back for x64 finally

[2018-10-18 20:57] cyanit commented on #26
As stated in my post above, **the VST 2 version works fine!** Its just the VST3 version that has these hickups.

[2018-11-16 20:24] ryukra opened #28 "What does Patch Wavetable/Sample mean?"
Is there some documentation about that?

[2018-11-24 11:04] really-need-an-api-key opened #29 "Wavetable right click menu doesn't work"
**Describe the bug**
No context menu (containing all the wavetables for easy selection) is shown when right-clicking the wavetable name.

**To Reproduce**
Steps to reproduce the behavior:
1. Right-click on the wavetable name.

**Expected behavior**
Right clicking the wavetable name should open a context menu with all the wavetables.

**Desktop (please complete the following information):**
 - OS:

[2018-11-24 18:18] esaruoho commented on #3
you wanna do `brew install llvm` instead? i pasted in your string and immediately got a "homebrew command not found" error ;)

[2018-11-24 18:33] esaruoho opened #30 "missing files: vstgui_mac.mm, vstsinglecomponenteffect.cpp, vstgui_uidescription_mac.mm"
Hi guys, how do I find these files?

[code]

[2018-11-24 18:44] esaruoho commented on #30
I'm thoroughly confused. I tried to clone a vst3sdk repository from github from steinberg, but wasn't able to get the vstgui4 or public.sdk -folders to actually contain anything.

now i'm after going to https://www.steinberg.net/en/company/developers.html to download vst3sdk with hopes that by changing the paths in the osx-build.sh, i can get this running. wish me luck!

[2018-11-24 18:51] esaruoho commented on #30
well, that _definitely_ slowed down the process of compiling, and it takes 3-5 seconds longer to shoot errors. this time it's not a case of simply reporting that certain files are missing (easy) but instead stuff like this:

[code]

it is complex for me to figure out which portions of this are the bits i need to fix, and whether i can even fix them.

[2018-11-24 19:14] esaruoho commented on #30
okay, i downloaded https://github.com/R-Tur/VST_SDK_2.4 and copied the `vst2.x` folder to the `vst3sdk` repo. wish me luck.

[2018-11-24 19:15] esaruoho commented on #30
now it seems that the errors i'm getting for the AU are:

surge-au: `pluginterfaces/base/fplatform.h file not found`
surge-vst2: `pluginterfaces/vst2.x/aeffect.h file not found`
surge-vst3: `Cannot initialize a parameter of type wchar_t * with an lvalue of type.. in surgevst3processor.cpp`

[2018-11-24 19:16] JurekR commented on #3
Download and install it manually from premake webpage, there is a binary package.

[2018-11-24 19:30] esaruoho commented on #3
the three "build failed" errors, btw were:

[code]

is there a way of including these directly in the surge repo so that the files are fully there?

[2018-11-24 19:52] esaruoho commented on #30
looks like the instructions suggested getting the submodules of vst3sdk and vst24sdk before anything else. ran

[code]

and errors stopped occurring. now getting a different set of errors :)

[2018-11-24 19:52] #30 closed

[2018-11-24 19:55] esaruoho opened #31 "surge-au: funknown.h/smartpointer.h/coreiids.cpp/iupdatehandler.h reference pluginterfaces/base/ how to fix?"
Four files within the `vst3sdk/pluginterfaces/base` folder try to include files in the subfolder `pluginterfaces/base` ( so basically referencing `vst3sdk/pluginterfaces/base/pluginterfaces/base` ).

The files in question are the following:

*funknown.h* references
[code]

`smartpointer.h` references

[code]

`coreiids.cpp` references

[code]

`iupdatehandler.h` references

[code]

All these issue

[2018-11-24 20:13] esaruoho opened #32 "Compiling with Xcode 10.1"
So, I started with these:

- Grab  `premake5` from https://premake.github.io .
- Copy `premake5` to `/usr/local/bin/premake5`
- Clone the Surge repo by typing `git clone https://github.com/kurasu/surge.git`
- Get all submodules `git submodule update --init --recursive`
- Boot up Xcode and open, indexes, processes.
- Click on `Update to recommended settings` for `surge-au` -> Choose `Perform Change

[2018-11-24 20:14] JurekR commented on #3
Did you do a "git submodule update --init --recursive" as stated in the readme? It should download the missing VST SDKs. Though I only tried to build the VST2 version so far, and kurasu seems to be pretty busy with upcoming Bitwig version now.

[2018-11-24 20:24] esaruoho opened #34 "surge-au: plugin.h file not found (called by aulayer.h)"
while attempting to compile with Xcode 10.1, I get this:
<img width="405" alt="funknown_h" src="https://user-images.githubusercontent.com/4966687/48972654-8af54f00-f037-11e8-9bc8-146828d39c56.png">

seems like a `plugin.h` is called by `aulayer.h`. i'm not sure where to get that file from. any ideas?
@JurekR ?

[2018-11-24 20:29] JurekR commented on #34
xcode 10.1 is macos 10.14, right? Still on macos 10.13.4 (10.13.6 contains some nasty intel cpu spectre v3(?) firmware with max. 8% speed decrease, AFAIK Apple flashes it to the cpu, while Windows soft-loads it). Sorry, no idea.

[2018-11-24 20:31] esaruoho commented on #34
Well, more like wondering how to create or find the `plugin.h` :)

[2018-11-24 20:32] esaruoho commented on #31
i mean, in the repo itself. if they are referenced from outside of the repo (submodules)?

[2018-11-24 20:34] JurekR commented on #34
Are the audiounit headers installed along with xcode installation, or do you have to install it separately? What about trying to build vst2 only first?

[2018-11-24 20:34] esaruoho commented on #3
yep, same issue here. not sure how to solve it, since i don't know what plugin.h should be, or what it should contain? logged this issue at #34

[2018-11-24 20:46] esaruoho commented on #31
`smartpointer.h` also references..

[code]

and the error it shoots is erased by simply removing `pluginterfaces/base/` from the mix.

[2018-11-24 20:47] esaruoho commented on #31
`coreiids.cpp` references

[code]

and the errors shot vanish by simply removing `pluginterfaces/base/` from the mix.

[2018-11-24 20:49] esaruoho commented on #31
`iupdatehandler.h` references.. you guessed it..

[code]

and there i go removing `pluginterfaces/base/` from the mix, again.

[2018-11-24 20:53] esaruoho commented on #34
@JurekR well with the "build vst2 only first" issue, i'm getting 128 errors. of which 108 are warnings and 20 are actual bonafide errors.

here are a couple:
<img width="377" alt="caviewlayer_mm" src="https://user-images.githubusercontent.com/4966687/48972846-b8dc9280-f03b-11e8-88d8-01a72956823f.png">

[2018-11-24 20:53] esaruoho commented on #34
<img width="380" alt="caviewlayer_mm" src="https://user-images.githubusercontent.com/4966687/48972851-d27dda00-f03b-11e8-8b14-cbec7e61eb7e.png">

[2018-11-24 20:54] esaruoho commented on #34
<img width="646" alt="caviewlayer_mm" src="https://user-images.githubusercontent.com/4966687/48972856-e9bcc780-f03b-11e8-9af1-17628ae760a2.png">

[2018-11-24 20:55] esaruoho commented on #34
and so on.

[2018-11-24 20:56] JurekR commented on #34
Uh, I dunno, will try in some days, ask in the kvr thread maybe.

[2018-11-25 00:12] esaruoho commented on #34
@jurekr there is a KVR thread? Where?-o

[2018-11-25 18:41] esaruoho commented on #32
surge-vst3 says
<img width="1392" alt="surgevst3processor_cpp" src="https://user-images.githubusercontent.com/4966687/48983024-7a55df00-f0f2-11e8-9c70-1e55ff14a14d.png">

[2018-11-25 18:41] esaruoho commented on #32
surge-vst3 also says

<img width="1393" alt="surgevst3processor_cpp" src="https://user-images.githubusercontent.com/4966687/48983025-8346b080-f0f2-11e8-9778-8ba0b5ed95ce.png">

[2018-11-28 01:46] jsakkine opened #37 "Useless byte order conversions"
Example: `vt_write_int32BE('sub3');"`. This works if the compiler has right semantics but could be just as well truncate (e.g. just take 's'). No well defined semantice in C++ standard AFAIK.

Everything is basically wrong there. You could define byte arrays that have the data already in correct byte order (i.e. big endian in the example) and have named costants for them (e.g. `SUB32_BE`). In addi

[2018-11-28 02:14] jsakkine opened #38 "VST does not load with Linux version of Renoise"
I launch Renoise like this:

[code]
And get this to the terminal when doing rescanning plugins:

[code]
With a tool such as `nm` it is easy to define that, yes, it is an undefined symbol. It is also a symbol that is unused by the plugin, which can be easily deduced with `git grep`.

[2018-11-28 02:30] jsakkine commented on #38
Reported here: https://github.com/steinbergmedia/vstgui/issues/68

[2018-11-28 09:00] GeorgeNs commented on #38
I have tried many forks and even if I could build the vst there is no DAW that can detect it!
So, I just made a fork that works for linux in any DAW as long as you are not going to use the surge's default GUI . See INSTALL instructions if interested
Cheers

[2018-11-28 15:45] #38 closed

[2018-11-28 15:53] jsakkine commented on #37
I will work on this at some point. Just trying to document _low hanging fruit_ in the code when I see it. Happy if some else does this. All these `vt_write_*` could probably be completely removed completely.

[2018-11-28 16:50] jsakkine commented on #37
Apperciated, if someone takes care of this, adds `Suggested-by:` tag. Not required, though.

[2018-11-28 17:31] scheffle opened #41 "Remove VST 2.x SDK files"
The repository includes a submodule to the VST 2.x SDK files, which is not allowed.
See the license in the header:

// This Software Development Kit may not be distributed in parts or its entirety
// without prior written agreement by Steinberg Media Technologies GmbH.

[2018-11-28 22:32] esaruoho commented on #41
@scheffle what is the solution to this issue?

[2018-11-28 22:34] kjyv commented on #41
It should not be a problem to include a submodule to something, it's basically a link.
The copy in the repository that is being linked is doing something against that license.
However, there is no VST 2 SDK anymore from Steinberg directly AFAIK as it is deprecated and not being supported anymore. This might hence be a legally gray area.

[2018-11-28 22:38] abique commented on #41
@scheffle does the vst2wrapper let surge offer a vst2 interface out of its vst3 interface?
Otherwise surge would have to drop vst2.

[2018-11-28 23:53] kjyv commented on #41
Apparently they also removed vst2 support from the vst3 sdk: https://www.steinberg.net/en/newsandevents/news/newsdetail/article/vst-2-coming-to-an-end-4727.html

[2018-11-29 06:42] scheffle commented on #41
The license does not permit the VST 2x code to be redistributed, even if the actual code is in a submodule linked to another repository. This was always the case since the beginning of VST and nothing new. Most other projects solve this by letting the "builder" provide the necessary files by its own.

[2018-11-29 06:53] ejgallego commented on #41
Obviously adding a submodule , which is little more than a hash is not redistributing anything.

[2018-11-29 08:58] kurasu commented on #41
I will change this to require providing an environment variable pointing to a local SDK when building the VST2 version.

[2018-11-29 09:17] #41 closed

[2018-11-29 20:10] zakria257 opened #43 "iPhone has denied to launch the app"
Hello

I'm new at iOS development so far. For now, i'm using Xcode 10.1 on MacBook Air'13 with apple developer id and iOS 12.1 on iPhone7. App is crashing when it is launched and displays the message "iPhone has denied to launch the app."

Previously i was using macOS High Sierra but now when I've updated to Mojave 10.14.1 and reinstalled Xcode 10.1, it's still showing the same error.
Moreover, I'

[2018-12-02 16:57] jsakkine opened #44 "Coding style"
At the moment the code base is filled with a chaotic set of coding conventions. It would be good to have a well defined coding to which new commits would compared against. This would also make the patch review process more lean.

In order to move fast with this I would recommend to use some well defined style known to work in cross-platform projects e.g. https://webkit.org/code-style-guidelines. W

[2018-12-02 18:41] esaruoho commented on #43
@zakria257 query, is this VST / AudioUnit Plugin supposed to be launchable with an iOS device?

[2018-12-02 19:19] jsakkine commented on #44
Even things like, which type of newline character should be used, ought to be defined. This is actually the most high priority item because pull request are already flowing in...

[2018-12-03 11:21] zakria257 commented on #43
@esaruoho The issue has been resolved. It required a certificate setting to be changed.
Thank you

[2018-12-03 12:31] zakria257 commented on #43
What did you mean by Surge? @esaruoho

[2018-12-03 12:37] esaruoho commented on #43
@zakria257 are you sure you're not in the wrong repo? this is for the VST2/VST3/audioUnit plugin Surge, by Vember Audio? You are at http://github.com/kurasu/surge and leaving comments there.

[2018-12-03 12:39] zakria257 commented on #43
@esaruoho oops. I've just posted at wrong repo.
Apologies!

[2018-12-03 12:58] esaruoho commented on #43
@zakria257 could you close this issue, please? :)

[2018-12-04 08:00] esaruoho commented on #3
@JurekR are you still working on making this compile?

[2018-12-04 12:38] esaruoho opened #46 "xcodebuild: error: 'surge-vst2.xcodeproj' does not exist."
getting this error when running `build-osx.sh`

[code]

not sure how to proceed?

[2018-12-04 12:45] esaruoho commented on #43
@abique maybe you can close this ticket since it is not Surge related in any way.

[2018-12-04 12:47] esaruoho commented on #31
location of these files is:
`vst3sdk/pluginterfaces/base` so not sure how to fix these issues since they are fetched from the vst3sdk repo..?

[2018-12-04 12:51] esaruoho commented on #31
clarified original post a bit

[2018-12-04 14:26] esaruoho opened #48 "surge-au: Implicit conversion loses integer precision"
Getting this `Value Conversion issue` on `surge-au/libs/xml/tinyxmlparser.cpp` line 928, with the bit of code saying

`int tagIndex = tag->length();`

shooting

[code]

![tinyxmlparser_cpp](https://user-images.githubusercontent.com/4966687/49448283-3abd8000-f7e1-11e8-8c72-fc6393855391.jpg)

[2018-12-04 14:30] esaruoho opened #49 "Apple Clang Error: Too many errors emitted, stopping now"
After attempting to build `surge-vst3`, Xcode stops building because of `Apple Clang Error: Too many errors emitted, stopping now`. What's the solution?

[2018-12-04 14:31] asimilon commented on #44
No, just for auto formatting the source code to a chosen convention.  It means anyone contributing doesn't really have to worry about coding style too much, as long as they run it through `clang-format` before committing.

[2018-12-04 16:37] jsakkine commented on #44
I prefer rather written guidelines. Don't even use clang for starters..

[2018-12-04 16:46] asimilon commented on #44
You don't need to use clang in order to use clang-format.  Who on earth is going to trawl the entire code base applying code style otherwise?  I prefer computers do the boring stuff like that for me, and they don't make mistakes or forget once it's set up correctly.  On the other hand humans quite often do. ;)

[2018-12-04 21:49] jsakkine commented on #44
It doesn't work like that in any open source project, at least not ones that I've actively worked. It is done patch per patch basis as part of the peer review process. You don't do commits just to change coding style.

Specific tool does not really replace a review process. Conventions can be also related to semantics like whether RTTI is allowed or not. Even with tooling you would have to first d

[2018-12-05 06:15] jsakkine commented on #37
Closing this as gained better understanding of the code.

[2018-12-05 06:15] #37 closed

[2018-12-07 19:58] baconpaul commented on #49
I spent a few minutes looking at this. This is because, in Xcode 10 / macOS 10.14, the default prototype of objc_msgSendSuper has changed from the 3 args to a no arg type.

You can fix this by adding

-DOBJC_OLD_DISPATCH_PROTOTYPES=1

to your arguments in the build settings in Xcode.  With that in place I get up to a linker error I haven't been able to solve.

No idea how to make pre-make put this

[2018-12-07 20:23] baconpaul commented on #49
With two more changes I was actually able to get a VST packaged on MacOS. Those changes were

1: src/vst3/SurgeVST3EditController is both unused and incompletely implemented. This creates link errors on my mac. So I whacked it by putting a #if 0 around both the class (.h) and implementation (.cpp)

This led to the project linking but failing in the post stage. The post-stage fails because the prem

[2018-12-07 20:44] baconpaul commented on #49
Well I couldn't seem to load this in ardour or max but I've only used AUs on my mac, not VSTs, so who knows if that is indicative.

I also spent some time looking at why the au / plugin.h stuff doesn't build. Basically "The Audio Unit API has completely changed since this was written" is what I concluded. None of the base classes or types are in AudioToolbox.framework any more that I saw. I sort o

[2018-12-08 02:40] baconpaul commented on #34
Oh hey sorry IU didn’t see this issue. i put some comments in issue #49 which solves those objc errors and gets to a linked vst on a Mac.

[2018-12-08 09:46] esaruoho commented on #49
Hi! Thanks for your input. I was able to get `vst2` to compile successfully by adding

[code]

into premake5.lua and will bake a PR out of that. that's one step in the right direction, i guess! :)

[2018-12-08 09:56] esaruoho commented on #49
Could you provide a reference to the class (.h) and implementation (.cpp), like, which filenames are they?

[2018-12-08 10:11] esaruoho commented on #49
Hi, I baked this into a PR too #51 - let's hope @abique and @kurasu and maybe @kzantow have the time to look at these and merge them in. Still not entirely sure how to do the `src/vst3/SurgeVST3EditController` fix though. Guess I'll do a git grep next :)

[2018-12-08 10:14] esaruoho commented on #43
@zakria257 hi, could you please visit this ticket of yours, and click "close", since it is not related to the Surge repo? No use having tickets stay open that are not related to Surge. Right? Thanks! :)

[2018-12-08 11:06] esaruoho commented on #49
I did, however, find an AudioUnit.framework - hoping that that'll be somehow more pertinent. But if `AudioToolbox.framework` is what `Surge` references, then I guess we're in trouble. :)

[2018-12-08 13:18] baconpaul commented on #49
Hey cool thanks for putting that together into a PR!

Sorry to not include the full path. Here's the files and diffs I put together.

[code]

[2018-12-08 13:40] baconpaul commented on #31
Ho @esaruoho the problem is that in the AU build in Xcode that vst3sdk isn't in the header search path, just vst3sdk/vstgui4. With the addition of vst3sdk to the header path I get a lot further in the build. (plugin.h still breaks as we discussed in #49)

<img width="762" alt="screen shot 2018-12-08 at 8 21 11 am" src="https://user-images.githubusercontent.com/13387561/49686587-98ddb200-fac4-11e8-

[2018-12-08 13:49] baconpaul commented on #49
Oh on that #if 0 I used in SurgeEditor that's probably too heavy handed to get through a PR. Perhaps we want some #if macintosh or something? Whatever surge uses for OS-specific ifdefs.

[2018-12-08 14:54] baconpaul commented on #34
So a bit more digging. It looks like there's a couple of AU problems.

1: Some files just aren't in GitHub. I think plugin.h is a name of an older file which also defines the (now gone but referenced) symbol sub3_synth which is referenced all over the au cpp code but commented out elsewhere. I'm forking a theory that in some older version - the last one where au built on mac - the core class was n

[2018-12-08 14:56] baconpaul commented on #34
Hey yeah look at this I just found in SurgeSynthesizer.cpp. I'm now convinced that sub3_synth is the old name of SurgeSynthesizer and the AU code just didn't get ported across ever. I'll keep noodling. Hope you don't mind me leaving my breadcrumbs in this issue.

[code]

[2018-12-08 15:14] baconpaul commented on #34
Last comment for the morning I think. It is definitely the case that doing the work to replaces sub3_synth and plugin with SurgeSynthesizer then doing all the all_notes_off -> allNotesOff conversion gets me really far in building the AU. Again https://github.com/baconpaul/surge/tree/au-build shows you my latest but absolutely nothing there ready for a PR or any such.

I think we should probably st

[2018-12-08 15:20] esaruoho commented on #31
@baconpaul
hmm, i could try adding vst3sdk into the mix. let's see.

[2018-12-08 15:30] kzantow commented on #3
@esaruoho I'm using xcode 10 and have the same problem -- got it compiling (submitted a patch), but it doesn't show up in any DAW. I am too much of a C++/VST/etc. noob to know exactly what the issue is, but I assume it's something to do with either a) files not being included in the contents of the `.vst` or b) not correctly building a shared library. I'll try to experiment a bit today and see if

[2018-12-08 15:58] kzantow commented on #3
I think I may have figured this last bit out but now running into a build issue getting VST2 built. *sigh*

[2018-12-08 16:18] baconpaul commented on #48
This warning goes away if you use size_t rather than int for tagIndex
Also (and this is on my Au-build branch) I replaced all the this && with a THIS_AND macro which is defaulted to blank since that was cluttering my life with warnings from the xml parser.
Don’t know if that will all make it into a PR but may help. Again you can see that over on the fork I posted on the other thread,.

[2018-12-08 17:02] kzantow commented on #3
I found a few things so far, but I figured out how to get plugin loading messages out of Bitwig, and it says:
[code]
... getting closer, and at least I have a way to know what's going on during loading (at least in one host).

[2018-12-08 17:38] kzantow commented on #3
I tried explicitly building `x86_64`, verified the dylib was correct:
[code]
Verified the host had the same architecture (Bitwig has both 64 and 32 bit host processes):
[code]
... so I'm at a bit of a loss what to do now, any ideas?

[2018-12-08 19:32] kzantow commented on #24
Note: as of Xcode 10, Apple has removed support for 32-bit... even with the 64-bit version, there are issues getting it recognized by DAWs at present; I've captured as much info as I've figured out in #3 so far.

[2018-12-08 19:51] esaruoho commented on #34
@baconpaul i don't mind the breadcrumbs at all! thanks heaps for thinking and looking at this in such great detail. If I can figure out how to isolate some of it into simple PRs then that's great, but whichever form this takes, I'm glad you're giving a look at it. I hope if you do a PR, @abique and @kurasu will take the time to look at it, and allow it to land so we can get a move on with this :)

[2018-12-08 20:05] esaruoho commented on #32
this `wchar_t *` has been mentioned by @kurasu in this issue:
https://github.com/kurasu/surge/issues/3#issuecomment-424832588

[2018-12-08 20:06] esaruoho commented on #48
cool, sounds like your `au-build` is going to be a huge improvement on the current state! i've been attempting to apply the various PRs and branches to a private branch in my own fork, but so far haven't made much progress :)

[2018-12-08 20:11] baconpaul commented on #34
Thanks. A path forward to an AUv3 is becoming clearer to me. I'm going to screw around for a bit in a protective branch-off-my-branch-off-my-fork and see where I can get.

AUV3 is very different than AUV2; and SurgeSynthesizer is rather different from sub3_synth. I think most of the code in src/au won't be part of Surge running in Logic 10.4 on Mojave... I just still don't quite know what source w

[2018-12-08 20:16] esaruoho commented on #14
@getdunne hold on, what? Is this because of Steinberg's VST2 license or something, or why can't a regular VST be made available for free without running into Steinberg issues? can ya somehow explain this further?

[2018-12-08 20:20] esaruoho commented on #3
@kzantow awesome! renoise and ableton live just don't recognize it at all, so it's good that bitwig gives some sort of data :) thanks for checking it out!

[2018-12-08 21:30] baconpaul opened #58 "Getting Audio Unit to link on macos"
Hi!

So I just got the audio unit code to link on macOS. Don't have it packaged but have it linking. There are a few larger things I had to do to do this.

The code I have isn't really mergeable yet I don't think. (I did some radical things like remove the VST target in my premake for now for instance). And I have no idea if it works. But if you want to see what I did the whole thing is pushed on

[2018-12-08 21:31] baconpaul commented on #58
Oh and I meant to tag @esaruoho in this since he and I were chatting about it in last few days

[2018-12-08 21:38] esaruoho commented on #58
@baconpaul could you provide an image or a list of the files you grabbed from @getdunne's folder in AudioKit? Would help immensely. :)

[2018-12-08 21:40] esaruoho commented on #58
no, sorry, i was misguided.. you already have `/libs/AUPublic` there! thanks!

[2018-12-08 21:44] esaruoho commented on #58
i went and added `vst3sdk` as an includedirs in `premake5.lua` just to see if that would also assist :)

[2018-12-08 21:46] esaruoho commented on #58
I got this far:

`linker command failed with exit code 1 (use -v to see invocation) clang`

<img width="481" alt="surge-au_xcodeproj_and_getting_audio_unit_to_link_on_macos_ _issue__58_ _kurasu_surge" src="https://user-images.githubusercontent.com/4966687/49691070-6626ce80-fb43-11e8-9e57-b6f7b2dfc7a9.png">

but yeah, i've never seen it get this far! amazing work, @baconpaul !

[2018-12-08 21:47] baconpaul commented on #58
Yeah I just changed two things which fix those errors. DO a fresh checkout.

This just worked for me, but it wouldn't have 10 minutes ago.

[code]

[2018-12-08 21:48] baconpaul commented on #58
Oh and if you expand that linker error it has a bunch of stuff about AUBase::foo missing I bet. That's fixed with the push I just did, including the C++ in the premake.lua.

And I think when you checkout you will need to use the https:// not git: to my git repo. Figure you know that tho!

Really appreciate knowing if it works for you.

[2018-12-08 22:00] esaruoho commented on #58
I have grabbed the new au-build, let's see! am running `./build-osx.sh`

...and got a nice `** BUILD SUCCEEDED **`!!!
<img width="771" alt="__work_pb_surge_ _-bash_ _126x50" src="https://user-images.githubusercontent.com/4966687/49691175-527c6780-fb45-11e8-8823-29bb9753918d.png">

now, in `surge/target/au/Release`, I'm seeing
[code]

and in `surge/target/au/Debug` am seeing

[code]

Gonna boot up

[2018-12-08 22:08] baconpaul commented on #58
Nope. We are now into the next part of the problem. If you look at how the vst is build it creates a dylib in Xcode then runs the package-vst.sh to copy things around. So we need to figure out how to actually make a .component from the dll. Choices are, I guess

1: Add a .component target to Xcode but then we get into the AU2/AU3 nastiness.
2: Look at some other AU2 component and figure out how to

[2018-12-08 22:09] esaruoho commented on #58
Weird thing is that `package-au.sh` is

[code]

whereas the package-vst.sh and package-vst3.sh actually do take the vst dylib files and "do something" with them :)

[2018-12-08 22:11] esaruoho commented on #58
@baconpaul well, amazing work! i guess there might be plenty of different build scripts out there to package them out, but .. i suppose the key is in finding a non-brittle one :)

[2018-12-08 22:12] baconpaul commented on #58
I was taking a look at dexed just now which does this (dexed is an oss implementation of something very close to the DX-7: https://github.com/asb2m10/dexed) but it uses Juce. I suppose we could also use juice.

But the contents of an AU2 component look like this
[code]

And yeah I know about package-au.sh. I added those 2 lines since it was both empty and non-excitable 30 minutes ago :)

[2018-12-08 22:15] baconpaul commented on #58
Oh duh the place to look is the same AudioKit place where I found the AUPublic files.

https://github.com/AudioKit/AudioKit/tree/master/Developer/AKSampler/Mac%20AUv2%20Plugin

I bet that .xcodeproj has the goods inside it....

[2018-12-08 22:42] esaruoho commented on #58
this ain't a partial victory, this is a victory and a half!! great job @baconpaul
thanks for keeping at it so very patiently!

[2018-12-08 22:44] baconpaul commented on #58
Thanks! Yeah lots of progress today. Fun stuff.

But I’ll declare victory when it works in logic with mpe working properly, and we can make a pr to put it back on the main branch. Still some work to do...

[2018-12-08 23:33] baconpaul commented on #58
So in resources/osx-au there is both an Info.plist and a PkgInfo already in the source tree. I wonder if just copying those around in the script could do it for us... that seems to be what the vst.sh does.

I'll see if I can get some time to look at that route rather than looking at the premake partial implementation of Xcode features which I think could be a bit of a pain.

[2018-12-09 00:43] baconpaul commented on #58
In the "things which don't work breadcrumps" camp, I tried copying package-vst to package-au, changed the vst file names to au, modified Info.plist to have the right case for the Surge executable, and made a .component. But that component wouldn't even load in auval so that's clearly not right.

Also the Info.plist generated by latest Juce is way bigger than the Info.plist in resources/osx-au so t

[2018-12-09 00:55] baconpaul commented on #58
OK and a bit more looking. Seems the dylib we have linked isn't ejecting an AUFactory method. Here's two components I have that work in my system. These Factory entry points are explicitly referenced in the Info.plist for both.

[code]

so when I fixed up the Info.plist to add something which looked like a factory function it referenced one that wasn't exported.

From looking through a few plugins

[2018-12-09 01:08] baconpaul commented on #58
Aha! The AUDIO_COMPONENT_ENTRY macro in aulayer.cpp wasn't quite right and didn't match the info.plist. With that all fixed, I can now make a VST component which logic loads and crashes on!

<img width="544" alt="screen shot 2018-12-08 at 8 06 13 pm" src="https://user-images.githubusercontent.com/13387561/49692296-05889900-fb25-11e8-935d-ebc1a39ba801.png">

So that's good enough for me to commit a

[2018-12-09 01:11] baconpaul commented on #58
OK so some stuff starting to come through!

[code]

[2018-12-09 01:29] baconpaul commented on #58
Huh getting a core file and a stack trace is a bit of work. Here's how to do it if you want to.

* cp /usr/bin/auvaltool .
    * you have to do this since mojave won't allow you to attach a debugger to stuff owned by root thanks to SIP
* ulimit -c unlimited
* touch /cores/foo
* rm /cores/foo
    * if those don't work, then you need to set permissions on /cores properly
* ./auvaltool -vt aumu Veba

[2018-12-09 01:49] baconpaul commented on #58
Huh wow filesystem actually had an error in is_directory! It did a closedir(dp) without checking if dp was null. Added a guard and pushed to au-build. Now my crash is somewhere else (it's in the xml parser).

Neat. There's now a clean workflow to build test stack trace and debug. I added a small script called install-local-au.sh which packages and installs the AU for you so you can run auval and s

[2018-12-09 02:09] baconpaul commented on #58
Hey the SurgePatch also was under-conservative with null checks so I fixed those also.

Now I'm getting a crash far later on. We get through a large amount of validation before we segfault. Seems we are now faulting on CFGetTypeID with a bit of a mangled stack, so I'm going to call it a night.

But hey we have a built audio unit linked from the code which actually enters the code under auvalidatio

[2018-12-09 02:30] baconpaul commented on #58
Ha OK and the reason there is no UI is because aulayer has only implemented a carbon ui, not a cocoa one, and no way carbon runs on a modern mac. So some actual work to do there. Look at the #if MAC_COCOA in aulayer.cpp if you feel like some cocoa C++ hacking. I may get to that this week. Will see.

[2018-12-09 14:31] baconpaul commented on #58
And hey if you pull to head this morning you will find a few more updates which mean it actually plays sounds and you can adjust at least one parameter and hear a change. I updated the README and all the scripts, and got the code in a state where we could contemplate a (big) pull request but there's a couple of other things I want to do before I go that route.

I think a pull request with "makes s

[2018-12-09 15:20] baconpaul commented on #58
Hey and if yo pull now, in addition to building and working, it will load all the presets and wavetables *if* you run the ./installer-local-au.sh script to stage them in the right place. (How to do this as a proper install is for the future).

I can now pick from 1000 odd presets and make them sound in logic 10.4 with a 64 bit AU! Wahey!

[2018-12-09 16:54] kzantow commented on #46
Actually, what you need to do _before_ running `premake5 xcode4` is to set the environment variable `VST2SDK_DIR`, e.g.: `export VST2SDK_DIR=~/programming/VST_SDK_2.4`, then run `premake5 xcode4` and you'll get a VST2 project.

[2018-12-09 17:47] kzantow commented on #3
I know very little about assembly programming and how it affects binaries, could it be that some of the `__asm` blocks targeting `MAC` are changing the architecture somehow?

[2018-12-10 08:37] Jorgeelalto commented on #58
Can't wait to get my hands dirty with the Win/Linux version, amazing work guys! We also had problems with GUIs in the Linux realm I think so for me it's very interesting to follow this thread :)

[2018-12-10 13:01] baconpaul commented on #58
Cool! Not sure how much of this will be in common with Linux or Windows. It seems almost all in mac /cocoa/au land. But happy to toss in any ideas!

Since au-build is in the PR, I am now working on au-build-ui with the UI stuff if you want to keep following at home. But nothing works there at all!

[2018-12-10 13:53] esaruoho opened #60 "Try and validate VST/VST2/VST3 by using the Tracktion PluginVal"
suggestion: when .vst / .vst3 is baked, check out what https://github.com/Tracktion/pluginval says? :)

[2018-12-10 22:26] baconpaul opened #61 "Create the CocoaUI rather than CarbonUI for the audio unit"
Following the work in #58 and the subsequent pull request in #59 I can build an audio unit on my mac which opens in logic and plays sounds and switches between presets, but has no UI. That's all in that PR or you can get it on the @baconpaul fork of Surge on branch au-build.

So I have done a branch off of that branch to get the ui working, called au-build-ui. It contains all of au-build (so makes

[2018-12-11 10:23] Jorgeelalto commented on #19
So I tested building this after a few months and for the vst3 build I'm getting different errors, related to the GUI probably like for the macOS build.

This is the process I followed to make this build:
[code]
After executing `ld` on the Surge-Debug.vst3 which results from the process in /target/vst3/Debug I get this output:
[code]
So I think I will start looking for the `moduleHandle`, `Steinber

[2018-12-11 10:40] esaruoho commented on #19
@Jorgeelalto after cloning the repo, did you run this?
[code]

? let us know if you get a different set of errors then.

[2018-12-11 11:00] Jorgeelalto commented on #19
Oops, yes, forgot to add that to the process. I ran that before compiling everything yes (I will add it to my comment).

[2018-12-11 12:46] esaruoho commented on #61
hi @baconpaul did you see that @kurasu merged in #59 ? :) awesome! looks like your `au-build-ui` could then, instead of being a further commit into the #59 - be a separate PR altogether.

what did you think of what Claes Johanson did to your PR in the end? Seemed like pretty minor fixes.

[2018-12-11 12:47] esaruoho commented on #58
@baconpaul did you see that #59 was merged in?  :) so awesome!

[2018-12-11 13:16] baconpaul commented on #61
It's all great! Thanks @kurasu

And yes, @esaruoho now that au-build is merged I can take my cocoa stuff and do a fresh branch of the head of master. I just did that. So au-build and au-build-ui are both now dead. In baconpaul/surge there is now a branch au-cocoaui-build which has as far as I have gotten on cocoa forked off the PR post #59. So if the UI works, I would do a new pull request.

[2018-12-11 13:17] baconpaul commented on #58
Yep; great this was merged. Move the UI action to a new issue #61 and am closing this one.

[2018-12-11 13:17] #58 closed

[2018-12-11 13:17] baconpaul commented on #49
Pretty sure #59 means you can close this. Thanks!

[2018-12-11 13:18] baconpaul commented on #34
#59 fixes this so we can close it. Thanks!

[2018-12-11 13:18] kzantow commented on #46
@esaruoho yes. it's been end-of-life'd from steinberg, I don't think you can get it from them anymore and they said something like it's against the EULA to contiue to use it to build plugins if you haven't signed a developer agreement with them in the past.

[2018-12-11 13:18] baconpaul commented on #32
#59 fixes most of this so perhaps we should close it and have a different master issue for VST on Mac? Thanks!

[2018-12-11 13:19] kzantow commented on #46
I signed the developer agreement years ago, if I recall. I know at least I tried to on multiple occasions, barring website issues.

[2018-12-11 13:19] baconpaul commented on #31
#59 has fixed this so I think we can close it. Thanks!

[2018-12-11 13:22] esaruoho commented on #31
closing :)

[2018-12-11 13:22] #31 closed

[2018-12-11 13:23] esaruoho commented on #32
closing

[2018-12-11 13:23] #32 closed

[2018-12-11 13:24] esaruoho opened #64 "Building issues with VST2/VST3 on macOS Mojave kHozirontal etc."
Compiling VST2 and VST3 of Surge

After this, Xcode says:
`surge-vst2 pluginterfaces/vst2.x/aeffect.h file not found`
`surge-vst3 Use of undeclared identifier 'kHorizontal' in SurgePatch.app`
(and Apple Clang error, too many errors emitted, stopping now)`

<img width="1392" alt="48983024-7a55df00-f0f2-11e8-9c70-1e55ff14a14d" src="https://user-images.githubusercontent.com/4966687/49803566-db1f2180-

[2018-12-11 19:12] esaruoho commented on #43
@kurasu could you close this ticket, please?

[2018-12-11 19:13] esaruoho commented on #34
closing, thanks @baconpaul !

[2018-12-11 19:13] #34 closed

[2018-12-11 19:14] esaruoho commented on #19
@Jorgeelalto what about trying to get VST2 to compile?

[2018-12-11 21:01] esaruoho commented on #60
Tried `Surge.vst` and got this:
<img width="622" alt="scan_complete" src="https://user-images.githubusercontent.com/4966687/49830011-adf26380-fd98-11e8-9424-2ad6eee8940b.png">

`Note that the following files appeared to be plugin files, but failed to load correctly`

[2018-12-12 07:15] esaruoho opened #66 "Surge-AU: GUI-less Parameter changing on macOS"
now that @baconpaul got the AudioUnit running, I spent a bit of time yesterday fooling around with the GUI-less Surge.

after loading `VmbA > Surge` and trying to move some sliders, I'm getting no effect on the audio by moving the following:

<img width="515" alt="screenshot_12_12_2018__9_00" src="https://user-images.githubusercontent.com/4966687/49852308-71505780-fdec-11e8-85e7-76c589684962.png">

[2018-12-12 07:19] esaruoho commented on #66
And.. just in case the tickboxes get ticked by someone, or otherwise mutilated, on the 12th of December 2018 at 9.18am Finnish time (GMT+2), these worked:

*Scene A Common*
Pitch
Portamento
Volume
Pan
High Pass

*Scene A Osc*
Osc1 Pitch
Osc1 Shape
Osc1 Width
Osc1 Sub Width
Osc1 Sub Level
Osc1 Sync

*Scene A Osc Mixer*
Osc1 Level
Pre-Filter Gain

* Scene A Envelopes*
AEG Attack 
AEG Decay
AEG Susta

[2018-12-12 12:46] baconpaul commented on #66
I had noticed scene b was empty also but I had never used surge when it was a commercial product so didn’t know how to read that. This is remarkably useful info!

I have a pretty good debug and log workflow in logic right now with my (flailing) work to get the ui rendering in a 64 bit nsview. But at least I can see a message right before I segv!! Perhaps I can find some time to bring that over to

[2018-12-12 13:19] baconpaul commented on #66
OK I did some instrumentation and the ones you indicate are actually sending changes to the host.

I'll compare AU host and VST host code sometime this week, but I do notice this comment in the code right after the moment where the parameter is passed on

[code]

That's Finnish? Swedish? I apologize for speaking neither. Do you happen to know what that text means?

[2018-12-12 13:36] esaruoho commented on #66
@baconpaul definitely Swedish. Google translate says:

TODO add signaling from here -> editor if it is open
// do not forget to mapping the parameters if it is ableton live as a host
// EDIT does it rather with a threadsafe buffer in sub3_synth

[2018-12-12 13:41] baconpaul commented on #66
Thanks! That’s about as helpful as the original Swedish! Chuckle.

I have a theory on why all of scene b is empty. In the original surge were a and b just copies of most things which you could merge? I wonder if there is a name unique thing going on

Anyway I’m away from my computer for the rest of the day but I will dig around!

Fun software archaeology here! Good stuff

[2018-12-12 16:35] #43 closed

[2018-12-12 20:01] esaruoho opened #67 "Translate comments from Swedish to English"
As @kurasu warned, a couple of comments were in Swedish. So I translated them to English, with Google Translate, some work by hand, and a lot of help by a friend.

Check the PR at #68

[2018-12-12 21:31] baconpaul commented on #66
Breadcrumb recording.

Well my theories are mostly wrong. I'm having a super hard time figuring out the path between SurgeSynthesizer::setParameter01 and anything in the src/dsp land which is actually called at render time and it's almost impossible to attach a debugger to logic. I sort of feel like I need a command line version of an au-host-equivalent which does the various manipulations outside

[2018-12-12 23:00] baconpaul commented on #66
OK some more breadcrumbs in case others want to read the code and try. Or in case I forget.

Here's the basic class structure I see in SurgeSynthesizer.

SurgeSynthesizer hasa SurgeStorage has a reference to SurgePatch

SurgePatch is a typed bundle of Parameters

A Parameter is basically a name, a value (which is a union of float bool and int) and some information about the control.

When in the A

[2018-12-12 23:18] baconpaul commented on #66
OK and finally I figured this out and learned a lot doing so.

Basically the filter.unit.type has a parameter (called, unsurprisingly, F1 Type) which has a constrained set of values. But the slider for this doesn't show up. The reason the slider doesn't show up is because the parameter is an "expert" parameter. Line 646 or so of aulayer.cpp surpasses the expert parameters from the ui by setting kA

[2018-12-13 12:18] baconpaul commented on #67
This translation would be super useful!

[2018-12-13 12:21] baconpaul commented on #61
So OK, I have actually done some of the plumbing. Here's a screenshot:

<img width="1565" alt="screen shot 2018-12-13 at 7 17 03 am" src="https://user-images.githubusercontent.com/13387561/49938243-555dbc00-fea7-11e8-9684-2cbf3ff07737.png">

@esaruoho as discussed in #66 this lets us play with parameters which are otherwise unexposed.

It's all on baconpaul/au-cocoaui-build but I strongly suggest

[2018-12-13 12:41] baconpaul commented on #61
Oh hey sizing was easy. Pushed that too. Off for the day now.

<img width="1150" alt="screen shot 2018-12-13 at 7 40 32 am" src="https://user-images.githubusercontent.com/13387561/49939329-84296180-feaa-11e8-999a-c5dfc0b4960c.png">

[2018-12-13 13:56] esaruoho commented on #67
@baconpaul i'm working on it.. i've got a branch in my fork

[2018-12-13 13:59] baconpaul commented on #67
Thank you! A good week here - we went from a million compiler errors to a sorta working ui. Been fun hacking through it with you!

[2018-12-13 16:56] esaruoho commented on #67
geez i don't know how to find all the  ISO-8859-1 encoded files. i'm gonna make this into a PR and see..

[2018-12-13 17:13] esaruoho commented on #67
@baconpaul here's a start of translations, #68

I need to figure out some magick on OSX to find which files are encoded in ISO-8859-1 so I can find @kurasu 's Swedish language comments. I'll do that tomorrow. Hope this helps anyway.

[2018-12-13 17:15] esaruoho commented on #46
@kzantow what are your thoughts re: whether it makes sense to focus on getting VST2 to compile on Linux,macOS,Windows, or should just go VST3 from the start? Or might VST2 be easier to get to compile?

[2018-12-13 17:18] esaruoho commented on #67
if someone can help me figure out how to use

`file -l` on OSX recursively on the whole repo, that would really help.

[2018-12-13 17:36] kzantow commented on #46
@esaruoho the problem with VST3 is that many hosts still don't support it, so VST2 is still the lowest common denominator. I've got it compiling, just that odd issue on OSX indicating the architecture is not right: #3

[2018-12-13 22:32] baconpaul commented on #67
[code]

and that's -I (capital i) not -l (lower case L)

Attached output as a txt file

[f.txt](https://github.com/kurasu/surge/files/2677976/f.txt)

[2018-12-13 23:47] baconpaul commented on #61
OK great I made a lot of progress now, although still not ready for a PR and still has some known crashes. But I fixed my 3 problems (sizing, startup crash, and idle loop) and now the UI actually really works. VU meter bounces, clicking buttons change things, etc...

There's still some bugs

1. If you close the window you get an instant crash because I'm not stopping the idle thread or doing any r

[2018-12-14 01:56] baconpaul commented on #61
And hey I got those two fixed also! This actually means the plugin - on my mac, built from source, with my hacky install script - works perfectly. I can open and close the instrument, switch it to another one and back, all those things, and no problem. I can also use the UI to do modulation.

And now my goal of "hey I wonder if this synth is any good" has been met. What a need modulation architect

[2018-12-14 03:41] jsakkine opened #71 "Linux: VST2 plugin almost takes down the machine"
The VST2 plugin loads now but I get a flood of these when I try to activate it:

[code]

And then Renoise eats up almost all resource of my machine and I have to kill the process.

[2018-12-14 07:19] esaruoho commented on #71
@jsakkine do you have instructions how to compile it on linux? Does it show the UI?

[2018-12-14 07:23] jsakkine opened #72 "KVR Audio form is not open for new accounts"
_"An error occurred! To register a new account at KVR Audio please contact us with your username and email address and we'll check it out."_

I.e. **README.md** should include instructions how to contact KVR Audio. Otherwise, it is impossible to create an account and participate to the development discussions.

[2018-12-14 09:17] esaruoho commented on #72
I would vote for removal of the KVR-Audio-Developer URL then, if it's 1) locked down AND 2) very silent.

it is, after all, VERY silent re: Surge.

[2018-12-14 09:55] esaruoho commented on #67
thanks @baconpaul - that helped immensely. i'll check through the remainder of the files in the next few hours.

[2018-12-14 09:56] esaruoho commented on #61
Hi @baconpaul - i'm currently installing Logic Pro X so can try out your version of the AU and see what happens.

[2018-12-14 11:39] baconpaul commented on #61
Cool @esaruoho - garage band shouldnalso work and is free too but appreciate the look!

[2018-12-14 11:57] esaruoho commented on #48
@baconpaul should i close this ticket, or does this warning still appear?

[2018-12-14 12:07] baconpaul commented on #48
Yeah I think I got this one. But there are others just like it in the codebass.

Once my au fix is merged I may open a bigger issue to get Mac au warning free (which will require some -w flags but also some code changes) so perhaps close this now.

Thanks!!

[2018-12-14 12:15] esaruoho commented on #67
Thanks @baconpaul - I've now finished with the PR translations, so will tag it as one that closes this ticket.

[2018-12-14 12:34] esaruoho commented on #48
closing for now

[2018-12-14 12:34] #48 closed

[2018-12-14 14:01] esaruoho opened #73 "premake5 modification so that it grabs the repo submodule dependencies?"
Is there some way premake5.lua could be used to get the submodule dependencies in the GitHub repo?

[2018-12-14 14:21] esaruoho commented on #61
@baconpaul hmm.. i have a question about how-to-do this.

So, first I get your branch, then do the whole submodules business - then run ./build-osx.sh - then i get a succeeded, then i go to xcode, open the project, validate all the extras in AU, clean, build.. and then the component is in products/ right?

Or, should I just run ./build-osx.sh and then copy the component to the plugin folder? What

[2018-12-14 14:30] esaruoho commented on #61
@baconpaul so far i don't see your PR referencing `README.md` updates. I'll run the xcode validate+clean+build and then run `./installer-local-au.sh`

I pushed a tiny update to my swedish language PR that changes one line in the `package-au.sh` to talk about AudioUnits (AU) instead of VST. Hope @kurasu will let it in :)

[2018-12-14 14:31] baconpaul commented on #61
https://github.com/baconpaul/surge/blob/au-cocoaui-build/README.md

I think the prior pr had it; I see readme md has the info in building OS X section here. When all the pr are settled I’ll look again.

[2018-12-14 14:44] esaruoho commented on #61
Thanks! Sorry.

Ok, so from my end, I'm able to get a Surge.component. I copy it to the Components folder in the Plugins-folder. The validation works a-ok, passes all validations, so it should be valid.

But I can't get Renoise OR Logic Pro X to actually display it as a plugin in the selector.

This confuses me. I thought I knew how to boot up AudioUnits no hassle. What might I be doing wrong?

I'

[2018-12-14 14:45] esaruoho commented on #61
The only warning I get in auval is
[code]

but that's probably fine, right? after all, it's just a warning.

[2018-12-14 14:50] esaruoho commented on #61
it must have been an user error. i'm recreating a branch and pulling your branch into it and trying the process again.

[2018-12-14 14:55] baconpaul commented on #61
Yeah don’t copy by hand. Use the installer script

You may also need to blow your au cache. That’s in the readme

Offline for 6 hours so won’t be responding for a bit - thanks!

[2018-12-14 15:07] esaruoho commented on #61
confirmed, after blowing the au cache, i got logic pro x to show me surge.

Renoise, for some reason, doesn't. When I get home, I'll check if Ableton Live shows it. Isn't it weird that Renoise wouldn't show it but Logic would? *mindexplodes*

[2018-12-14 15:12] esaruoho commented on #61
awesome! feels like i should close this ticket #66 because i'm able to chain efx and trigger filters and whatever.

p.s. is there any chance of setting the filters to default to lo-pass, instead of "off"? :)
p.p.s. i think it's time to find the documentation for this plugin and learn to use it because i have no idea how the routing works.

[2018-12-14 15:13] esaruoho commented on #66
Fixed by #69 - by testing with this branch, you can see that @baconpaul got the parameters working wonderfully. I don't feel I need to use the non-gui version of Surge at all to be honest.

[2018-12-14 15:32] esaruoho opened #75 "Filter Width Pan Slider doesn't invalidate properly"
”Filter Width Pan Slider doesn't invalidate properly”

I'm slightly confused. I'm using #69 by @baconpaul and i'm actually seeing an empty slot for `Pan` - yet there doesn't seem to be a slider there? What am I missing?
Does a slider exist? @kurasu ?
![screenshot_14_12_2018__17_30](https://user-images.githubusercontent.com/4966687/50012009-330e9000-ffc6-11e8-9748-a4d8dad6d569.jpg)

[2018-12-14 16:31] esaruoho opened #76 "Surge-AU: 64-bit AudioUnit not recognised with Renoise 64-bit v3.1.1"
Interestingly, the 64-bit macOS AudioUnit which can be built by following the PR #69 does not show with Renoise 64Bit v3.1.1.. I wonder what's up with that.
Any ideas?

[2018-12-14 17:09] geoslake commented on #16
? Ehh no, see op please, surge data folder along with the dll. Im currently using symlink but native support would be nice.

[2018-12-14 17:46] baconpaul commented on #61
Here’s how routing works as I found out

Click the blue box that says lfo1
It will turn a different color and get a little glyph.
Then drag some slider and two sliders will appear
Lfo1 is now moving you between the two sliders

Etc

It’s cool. It kinda reminds me of how the drag to change works in equator

[2018-12-14 17:54] baconpaul commented on #61
I’ve never used Renoise but the Internet seems to indicate it has its own audio unit cache which you can reset in preferences

http://forum.renoise.com/index.php/topic/50381-audiounit-plugin-ignored-but-loaded-in-other-daws/

[2018-12-14 19:58] baconpaul commented on #29
This is literally a one line change. Looks like the rewrite of the context menu just forgot to call popup

I have fixed it in

https://github.com/baconpaul/surge/commit/d404bdd04b9660a904e793ba85ecd75c5d5129f6

but I can't send a pull request for that until #69 is merged

[2018-12-14 19:59] esaruoho commented on #41
@scheffle still excited to find out how to bake a vst2 within steinberg's limitations?

[2018-12-14 20:02] baconpaul opened #77 "std::filesystem stub on macOS returns . and .. in directory iteration"
So std::filesystem isn't on Xcode 10 and the surge has a stubbed out implementation. I fixed a few bugs to get things running but directory iteration still returns "." and ".." in a way which leads to it showing up in menus.

<img width="419" alt="screen shot 2018-12-14 at 3 00 06 pm" src="https://user-images.githubusercontent.com/13387561/50024670-29c6f880-ffb1-11e8-87df-7f409f6bddbe.png">
<img w

[2018-12-14 20:02] baconpaul commented on #29
<img width="419" alt="screen shot 2018-12-14 at 3 00 06 pm" src="https://user-images.githubusercontent.com/13387561/50024616-fa17f080-ffb0-11e8-8f75-a9d66023e54d.png">

Oh that "." and ".." is because the mac stub of std::filesystem implements

[2018-12-14 20:03] baconpaul commented on #29
sorry because std::filesystem implements the iterator wrong so I have a new issue for that in #77

[2018-12-14 20:36] esaruoho commented on #29
@baconpaul can this one-line fix be added into #69 ?

[2018-12-14 20:38] esaruoho opened #78 "Does original documentation of Surge exist somewhere?"
@kurasu @abique

A question for you guys - any ideas if original documentation of Surge might exist somewhere on your drives?

I am, of course, referring to the contents of http://vemberaudio.se/download/surge.pdf

I'm ready to type it up to Markdown format by hand, but would rather not, if such documentation exists already. It's no bother if it doesn't, but just trying to find out if it's there o

[2018-12-14 20:38] baconpaul commented on #29
Oh sure I guess it could! But since this may also impact VST I sort of left it aside.

Also, my local dev area is a bit of a mess right now because I'm working on a zoomable UI so let me keep my brain there for now.

[2018-12-14 20:57] esaruoho commented on #61
@baconpaul thanks for taking the time to explain it! got how to do it after reading what you wrote.

So, so far:
Surge AU I've looked at with:
- Logic Pro X (can add chained efx into it)
- Ableton Live 10 (can't add chained efx into it)..

I don't have a lot of DAWs on this machine, but will try Renoise one more time.

[2018-12-14 21:04] esaruoho commented on #21
@nitelinejazz which format are you looking for? VST2/VST3 doesn't exist, but an experimental 64-bit AudioUnit version exists -- in fact, @baconpaul just wrote a PR for it, but even if it gets merged in, the building of a `Surge.component` requires a bit of work ( check https://www.kvraudio.com/forum/viewtopic.php?p=7254735#p7254735 for steps)

[2018-12-14 21:05] esaruoho commented on #3
@kzantow are you able to use http://github.com/tracktion/pluginval to be able to get some more validation out of the VST2/VST3? :)

[2018-12-14 21:06] esaruoho opened #79 "Surge-VST2: (macOS) Non-constant-expression cannot be narrowed from type 'int' to 'char' in initializer list"
am trying to get macOS VST2 to compile and am getting this error in audioeffect.cpp:
[code]
<img width="833" alt="audioeffect_cpp" src="https://user-images.githubusercontent.com/4966687/50027422-dbd3e400-fff4-11e8-86d3-67aee3356c55.png">

What should I do about it?

[2018-12-14 21:07] esaruoho commented on #79
Xcode suggests fixing it, so.. if I click on Fix, this:

[code]

changes into this:

[code]

is this overall something safe that I can commit to the repo?

[2018-12-14 21:13] esaruoho opened #80 "Surge-VST3: (macOS) linker command failed with exit code 1 (use -v to see invocation) clang"
After proceeding from making a tiny fix ( #79 ) - the next error while trying to get `surge-vst3` built with macOS is:

[code]

Now, I can't even click it so that xcode would suggest a fix. any ideas?

[2018-12-14 21:18] nitelinejazz commented on #21
@esaruoho I am looking for AU. TNX!

[2018-12-14 21:51] esaruoho commented on #21
@nitelinejazz send an email to esaruoho@gmail.com

[2018-12-14 23:11] baconpaul opened #81 "Implement zoom in Surge"
I'm using this issue to discuss implementing zoom and my design for it.

In the audio unit host on MacOS, I now have zoom starting to work. Here's a screenshot of AU Lab with 3 different surges running each with a different zoom level.

<img width="1388" alt="screen shot 2018-12-14 at 5 59 05 pm" src="https://user-images.githubusercontent.com/13387561/50034379-7bc84800-ffca-11e8-9b3f-6d5c5890304c.

[2018-12-14 23:13] baconpaul commented on #22
Check out #81 for this. I have a prototype zoom working in the UI host.

If you'd like to hop over there and perhaps close this issue, that would be great!

[2018-12-14 23:21] baconpaul commented on #80
Linker errors usually mean you have an undefined symbol. Xcode makes it annoying to find them as far as I can see.

I simulated one in my local area just now

<img width="281" alt="screen shot 2018-12-14 at 6 18 14 pm" src="https://user-images.githubusercontent.com/13387561/50034811-a3201480-ffcc-11e8-9d08-9e55eab087e5.png">

the trick I find to find the symbol is to go to the set of logs and find

[2018-12-14 23:21] cyanit commented on #81
Awesome! Can you change the color of the elements too? I made [this](https://github.com/cyanit/Surge-reskin) repo full of bitmaps (1x & 2x) and vectors, which could be used to give it a sleeker look, but only if the vector elements colors are adjusted from that orange to blue (exact color is in a colormap in the repo)

[2018-12-14 23:30] baconpaul opened #82 "There are way too many warnings on MacOS AU Build"
The warnings on the MacOS AU Build are driving me crazy. So let me set up this issue as a placeholder for us to chip away at them.

Seems they are of a few forms, and have a few fixes. Some, like using deprecated APIs, are realistically going to be fixed with a judicious use of a complier flag that surpasses the warning. Some like int foo = ptr_thing will get fixed with size_t

but I'll drop this

[2018-12-14 23:33] baconpaul commented on #81
@cyanit is it possible when you export SVGs that you can export the text as paths?

Right now your svg has elements like this:

[code]

but in inkscape at least you can replace the text with its path so you get only path entries and fill path entries.

Since, to use SVG, we are going to have to build a little svg parser and renderer inside vst land probably, the smaller a subset of SVG we deal wit

[2018-12-15 00:49] nitelinejazz commented on #21
Ok tnx:)

--
Waldemar Gołębski
www.nitelinejazz.com
+48 504779554

[2018-12-15 02:01] baconpaul commented on #81
OK I fixed that last bug with some hosts where they resize window externally. I also put the zoom controls into a #if target_audiounit (sorry vst folks!) until someone implements in vst land.

But I think for AU on macOS I have zooming working reliably now. Of course, need to get #69 merged before I can do the pull request for this feature. But if you want to try it, the branch "zoomable-ui" in ba

[2018-12-15 08:12] esaruoho opened #83 "Surge-AU UI: Waveform + LFO Waveform are not displayed"
As per https://www.youtube.com/watch?v=JdRZpDTi5QM

and as per a screenshot isolated from it:
<img width="1440" alt="fullscreen_15_12_2018__10_10" src="https://user-images.githubusercontent.com/4966687/50040726-d22c9980-0051-11e9-9cd8-d94c7baa2566.png">

@baconpaul you might find this interesting - it appears that the waveform on the top left corner and the LFO waveform on the bottom center is not

[2018-12-15 08:15] esaruoho opened #84 "Surge-AU: Building on mac X and running on mac Y does not give access to effect chain or preset changing"
This one is intriguing.

I built a Surge-AU with one mac#1 (will post specs later), and then zipped it up and transferred it to mac#2 (macOS Mojave 10.14.2 Beta (18C48a)), and for some reason, Logic Pro X did not allow me to change presets or create effect chains.

When time allows today, I'll attempt to re-build with mac#2 and see if I can then change presets and create effect chains. I'll post i

[2018-12-15 11:06] Jorgeelalto commented on #19
Maybe there is an option to specify on premake5 so that it creates a makefile for a vst2 version, but just running `premake5 gmake` or `premake5 gmake2` generates a Makefile and a surge-vst3.make. Both build the vst3 version, did not found a way to build the vst2 yet.

[2018-12-15 12:03] Jorgeelalto commented on #19
So I managed to start building vst2 and I get a lot of errors of the type "CRect does not name a type", "CBitmap has not been declared". To me it looks like some kind of include problem, maybe the source code needs to be fed with some more .h files. I will try including some files manually.

[2018-12-15 12:10] baconpaul commented on #83
Thanks!

In my build I see the one in the top left corner and that changes when I do things like change wave shape or wave table. But the bottom one is definitely missing.

I’m not coding today, but one thing I was thinking was I should put together at least a small hacky “make an alpha release” script which just makes a dmg with an install shell script, the component, and the resources. Then I ca

[2018-12-15 12:13] baconpaul commented on #84
When you moved it did you move the component and the resources, or just the component?

If you look inside installer-local-AI.sh you see it moves surge.component to ~library/Audio and then does a tar/move/untar of the resources directory to ~library/application support. Both steps are needed to get a working build.

In the other issue, I mentioned building a Mac packager. That may solve all these

[2018-12-15 12:17] baconpaul opened #85 "Create a rudimentary MacOS packager"
@baconpaul will do this tomorrow, and it matches some of the issues in #83 and #84.

To install Surge you need to

1. move Surge.component to the plugins folder
2. move the resources to the Application Support area
3. if Surge has never been installed, remover the audio unit cache

This should be done properly in a .pkg but that’s a bit of a pain. So I propose that for now I just add a script whic

[2018-12-15 14:21] esaruoho commented on #84
@baconpaul well i must admit, all i did was copy the .component and not the files :)
oops!

mmm.. i guess it's time for a .pkg just like you opened that ticket of yours today..

[2018-12-15 14:48] baconpaul commented on #84
Yeah I will get to it tomorrow. Shouldn’t be too hard. Let’s close this issue though since we know what happened now!

[2018-12-15 15:01] baconpaul commented on #79
That change is OK but a bit weird looking. If I were reviewing the code I would suggest you make it clearer with

[code]

Which is basically the same thing just a bit more readable. I’d also ask if someone had confirmed that 0 <= digit < 10 somewhere earlier in the code.

[2018-12-15 15:05] baconpaul commented on #44
This would be great to have.

The codebase is already getting pretty c++-11-y (and in some places c++-14-y) so I’d say “lets use C++14” and that means things like RTTI work but still have efficiency problems. But things like lambdas and std::function and so on work and can be used. (Since I used one to implement zoom I am particularly interested in this being true! :) )

A good setting that works

[2018-12-15 15:36] esaruoho commented on #84
ticket closed.

[2018-12-15 15:36] #84 closed

[2018-12-15 15:37] asimilon commented on #29
Not sure if it's the best, but it fits the "free" criteria : https://www.tracktion.com/products/t7-daw

[2018-12-15 16:05] esaruoho opened #86 "Surge-VST2: (macOS) Modify premake5.lua to conform to changes in surge-vst2.xcodeproj in asimilon branch"
Here's a branch by @asimilon https://github.com/asimilon/surge/tree/macOS_VST2_build

This has a modified surge-vst2.xcodeproj - some of these modifications should somehow be emigrated into premake5.lua so that they don't need to be done by hand, instead created when running `build-osx.sh`.
Anyone?

[2018-12-15 16:07] esaruoho commented on #83
I've modified the ticket to be about the LFO waveform only. btw I'm not Swedish, instead Finnish.

Thanks for taking the time to write about the `~/Library/Application Support/Surge` and how `resources/data` needs to be copied there before the waveform on the top left corner is displayed :) Much appreciated!

Yeah it's really awesome work you've been doing with the audiounit, I'm just happy to be

[2018-12-15 16:14] asimilon commented on #86
If anyone can point me at some decent documentation or tutorials for premake5 and targeting XCode I could take a stab at it, but I didn't find any useful information anywhere so far.
Also not sure if at all possible, but would be necessary to have 2 options for XCode : 1 for XCode9/brew llvm combo, the other for XCode10.  It would also require some `#ifdef` throughout the code for those 2 targets.

[2018-12-15 16:28] #64 closed, assigned to nobody

[2018-12-15 16:33] esaruoho commented on #80
Thanks for the assist! the error i'm seeing is..
<img width="1115" alt="surge_xcworkspace" src="https://user-images.githubusercontent.com/4966687/50045237-d67ba580-0097-11e9-8316-9515d5bce1c6.png">

[2018-12-15 16:42] esaruoho commented on #79
@asimilon how did you solve this issue on your branch? :o

[2018-12-15 16:43] esaruoho commented on #76
Yep, tried the wipe cache with Renoise but still didn't show.

[2018-12-15 16:44] baconpaul commented on #80
Oh yeah

So SurgeVSTEditController isn’t implemented it seems like. But it also isn’t used in the AU as far as I saw. I have an ifdef which comments it out for AU which was in my first get-it-running PR

Is the object even used or is it just referenced?

Seems like an awful lot to implement though. does grep -r show those implemnted anywhere in the source tree? (grep -r “foo” src/ vst3sdk/ is now

[2018-12-15 16:45] baconpaul commented on #83
Oh so sorry! Didn't mean to mistake your country of origin. But still a pleasure hacking along with you!!

[2018-12-15 16:46] baconpaul commented on #29
Yeah best is definitely an opinion! Also we all know emacs is the best. We just need M-x daw-mode to get finished.

Thanks!

[2018-12-15 16:55] esaruoho commented on #29
@baconpaul i added your fix to this into my larger PR #68 . hope that's fine

[2018-12-15 16:59] esaruoho commented on #77
how would this be fixed, btw? i was wondering about `.` and `..` :)

[2018-12-15 17:02] esaruoho commented on #83
no worries, @baconpaul :)
i wonder where those lfo waveforms reside.. weird!

[2018-12-15 17:58] jsakkine commented on #71
The first message comes from the VST host implementation of Renoise. The second log message is emitted by `SurgeStorage.cpp:134`.

[2018-12-15 17:58] jsakkine commented on #71
[code]

[2018-12-15 18:38] esaruoho commented on #29
👍

[2018-12-16 01:19] MBYlt commented on #22
So after spending the day getting acquainted with git/Visual Studio and finally getting your source to build (for some reason I randomly get malloc.h errors that sometimes vanish on a rebuild attempt, sometimes not - very odd, it's probably just me being a noob) I realized you only implemented this in the .AU, not the VST2/3... d'oh.

Anyway, the screenshots look nice, once this is merged to the .

[2018-12-16 12:55] kzantow commented on #85
Some discussion on #87, but summarizing: what if we just provide one of those "drag this to this folder symlink" type of installers, and I (or someone else) could whip up some code that runs at startup to sync the `/Library/Application Support/Surge/...` required files from things included in the bundle? The biggest question I have about this is the `configuration.xml` -- someone could hose this a

[2018-12-16 13:32] baconpaul commented on #85
The permissions thing is solved by using ~/Library.

Yes you can hose ~/Library/Application Support and break surge. I think some better error reporting in that case is useful. Here's the current code in SurgeStorage.cpp

[code]

which explains why the MAC and __linux__ users aren't seeing this error! I'll open a separate issue for that.

But I don't want to change things like configuration file b

[2018-12-16 13:35] kzantow commented on #85
@baconpaul can punt on the installer for a while, if I get all the resources included in the bundle and dumped into `~/Library/..`. I found this for the drag-to-folder type of installer; looks a bit manual though: https://gist.github.com/jadeatucker/5382343

[2018-12-16 13:36] baconpaul opened #89 "Mac and Linux don't report broken installs to users"
As discussed with @esaruoho and @kzantow both getting it to work without the ~/Library/App Support, the error message for an incomplete install is suppressed on mac and linux.

The code that needs fixing is in SurgeStorage.cpp

[code]

[2018-12-16 13:39] baconpaul commented on #85
Yeah hdiutil can make a dmg but that hand step to set the background is a pain. I'm just reading about .pkg files quickly. That may be the best route.

[2018-12-16 13:41] baconpaul commented on #85
Oh and #89 has that surge storage reminder. Reading "man productbuild" now. Will report back.

[2018-12-16 14:30] baconpaul commented on #85
Ahh yeah if yours works, then you build two pkgs (one for the component one for the resources) then use product build --synthesize to group them.

Like I said, I've just been googling like you and it didn't work for me. Hope my research helps!

[2018-12-16 14:30] kzantow commented on #77
This is my fault, i'm fixing it now

[2018-12-16 14:31] kzantow commented on #77
I can't seem to assign to me or anything, and i'm lazy so i'll just add it to #87

[2018-12-16 14:33] esaruoho commented on #85
I managed to get Surge.component to appear in `/Library/Audio/Plug-Ins/Components/Surge.component`..

I could attempt to create one that copies files from `resources/data` to that other folder. I'll see what I can do.. Ideally I'd like for there to be just one .PKG file that installs the AudioUnit _and_ the resources.

[2018-12-16 14:33] baconpaul commented on #77
Thanks! Let me know when you have a commit and I'll merge it into my working copy.

[2018-12-16 14:33] jsakkine opened #90 "Standalone Surge"
For easy debugging with GDB etc., a standalone Surge would be awesome.

[2018-12-16 14:35] jsakkine commented on #71
I'll go through all the code paths without a Linux specific code path and see where it hugs up (the reason I created #90, would speed by factors if we had that).

[2018-12-16 14:37] baconpaul commented on #85
Yeah you end up with one pkg. But the way you do that is to make two pkg (one for Surge.component and one for resources/data) and then combine those two pkgs into another pkg using product build.

So lets say you have SurgeComponent.pkg which installs the component (which you do! Awesome) and SurgeResources.pkg which install the resources (which you are working on).

Then apparently you can do

[c

[2018-12-16 14:45] jsakkine commented on #89
With zero experience on VSTGUI is `CTextEdit` something that can be used for this, or not? Where is the manual for VSTGUI anyway? Just poking its sources randomly.

[2018-12-16 15:04] baconpaul commented on #89
Yeah but since this is in a #if MAC anyway I can pop a system alert.

I'll commit this shortly.

<img width="1235" alt="screen shot 2018-12-16 at 10 03 49 am" src="https://user-images.githubusercontent.com/13387561/50055231-ea67eb80-0119-11e9-9474-9279e37a13ea.png">

but I really have a lot of stuff backing up. Any idea when #69 might get merged so I can do the PRs for the other changes I have?

[2018-12-16 15:08] baconpaul commented on #89
https://github.com/baconpaul/surge/commit/e5737f0785141147995d57e1d5637a0001c9f183

there's the diff which does that. It's in my zoomable-ui branch which I will send as a PR when #69 is built.

@esaruoho if you end up building a packaged version, perhaps pull head of zoomable-ui so you can get that feedback check?

I'll leave this open until merged. And someone should do the linux equivalent.

[2018-12-16 15:09] baconpaul commented on #90
I agree!

[2018-12-16 15:15] esaruoho commented on #77
@kzantow i don't see it on #87 as of right now.. can you make a separate PR that fixes this, please? :)
or link me to a commit and i can add it to #68

[2018-12-16 15:36] esaruoho commented on #85
Fingers crossed that this works:
[code]

I have no idea if it should or shouldn't.I've wiped my Surge -folder just in case from `Application Support`.

[2018-12-16 15:37] esaruoho commented on #85
nope, no go:
[code]

[2018-12-16 15:38] esaruoho commented on #85
@baconpaul btw your work, it's good to put the plugin in /Library/Audio/Plug-Ins/Component and not ~/Library/Audio/Plug-Ins/Component. :+1:

[2018-12-16 15:40] baconpaul commented on #83
So the LFO Waveform display is super clever. It actually configures an LFO and runs it, sampling the data, drawing the graph. So this problem is not a missing resource problem, its a "bug in the drawing code on mac" problem.

Just letting you know to make sure we don't conflate this LFO display issue with all the ~/Library/Application Support issues kicking around in last couple of days (which #89

[2018-12-16 15:49] baconpaul commented on #83
Just a breadcrumb to myself. The problem is entirely in the coltable structure which is used to go from y values to painting colors.

[code]

this mod which makes each pixel where there is LFO "action" a nasty blue rather than the color from the table gives us this UI which responds appropriately.

<img width="907" alt="screen shot 2018-12-16 at 10 47 37 am" src="https://user-images.githubusercont

[2018-12-16 15:56] esaruoho commented on #89
I wish I knew, only @kurasu really knows.

I would love for #68 #69 and #70 to get merged in asap, that's for sure.

all i can say is, either push the check into #69 as an updats, or hand me the commit and i'll dump it into #68 ..

[2018-12-16 16:16] kzantow commented on #77
@esaruoho fix is https://github.com/kurasu/surge/pull/87/commits/7be524369a4226c54dffad40b85eef63ecb5f8f0

[2018-12-16 18:34] jsakkine commented on #90
I guess you still can use VSTGUI to create the UI but I guess the biggest open in this is what to use for interfacing with audio. Should be a

- a cross platform library
- easy to compile in rather than use as  DLL.

I've heard that this is fairly popular choice but have not done any further analysis on it: http://www.portaudio.com/

[2018-12-16 19:01] baconpaul commented on #90
Rack uses rtaudio and that works well too. https://www.music.mcgill.ca/~gary/rtaudio/

If I were writing a stand-alone I would write it as a “fourth host” - side by side with au vst and vst3. Probably some ui code to bootstrap the vst GUI into a container like I did with the cocoa port then wrap the render method into one of the portable audio libraries.

I don’t plan to do this soon but would be

[2018-12-16 19:56] baconpaul commented on #22
The problem to merge this into a .DLL or .VST3 is that someone has to write a resize callback in that host also. I only really have a mac/AU dev environment. It's not that hard, just I don't have the APIs or a test machine. If someone wants to take a shot at that, let me know (probably by tagging over in #81).

Sorry to not be clearer and making you go and build something that doesn't work! Apols.

[2018-12-16 20:03] baconpaul opened #91 "Vector Drawing in the UI"
Now that we have issue #81 implementing a zoom (AU Mac only right now, I'm sorry; If you want to work on making it work VST or Win/Lin tag me on an issue and I'll give you guidelines if it's not clear from that issue), I am thinking about replacing elements with vector elements. Putting this issue in place to be the placeholder for my plan in case anyone has feedback.

In issue #23 @cyanit has sha

[2018-12-16 20:06] baconpaul commented on #91
Oh the answer to how you move around is pretty simple. Look around like 158 of CSurgeSlider.cpp and you see that the one you choose to draw is controlled by typex and typey which move you around the image space before drawing. So that should be pretty easy to keep in place if the SVG draw image which I am imagining does the same thing. (Big if)

[2018-12-16 20:09] esaruoho commented on #83
cool, saw this being merged into #69 - awesome!
here's hoping Claes will put it in.

[2018-12-16 20:47] cyanit commented on #81
Btw, if the final goal is migrating from pixel graphics to SVGs, it might help if we split up the "grouped" PNGs into individual ones. This would have the benefit that the placement and logic are in place (and working).

 _SIDENOTE: Ideally, the positions are split to a (for non-programmers) readable file, so that people could reskin (and re-arrange) it easily down the road (some of you might know

[2018-12-16 20:52] baconpaul commented on #81
Spliting the graphics makes it much much harder. If everything stays the same size with a vector layout then subbing in SVG looks doable. The reason there's all these "3 stacks in an image" is the UI right now just pans around the image based on state. Changing that is a total rewrite. Changing the thing around which we pan to be a vector thing may be an object plugin and a couple of tweaks.

But

[2018-12-16 20:54] baconpaul commented on #90
Yeah I've cobbled together a logger so that I can use printfs when I'm inside AULab and see them but it's not ideal. A standalone would be sweet.

src/standalone here we come! Look forward to seeing what you come up with.

[2018-12-16 20:56] baconpaul commented on #90
Oh and if you are interested, when I was debugging my VCV Rack plugins I wrote a little standalone thing which uses rtaudio to load my underlying oscillator and play it without requiring the whole UI and rigamarole.

https://github.com/baconpaul/BaconPlugs/tree/master/standalone

the standalone_helper.hpp shows you what you need to use rtaudio to pull and output sound.

Hope that helps!

[2018-12-17 03:06] baconpaul opened #93 "MPE Support"
MPE support seems somewhere between inconsistent and buggy. There was an issue #2 to this also but it got closed quickly. Though with the new AU version and my seaboard, I am not getting a very good result. There's also some oddities in the UI - like being able to assign midi controllers by number rather than learn - which are needed to make it easier.

So I started a branch. I'll see if I can fig

[2018-12-17 13:45] baconpaul opened #94 "A way to log messages and errors"
So the only way I managed to get the whole thing working was by writing a dumb little class in the audio unit layer called "AULOG" which has one method (::log( char* format, ... )) which fprintfs to stderr and to a log file in the right place on macOS.

My dev cycle looks like "include this where I'm debugging, insert printfs, remove it from where I'm debugging"

So this is fine and all, but wonde

[2018-12-17 15:15] esaruoho commented on #82
@baconpaul could you add `surge-vst2.xcodeproj/`  into the mix too?
or was it surge-vst.xcodeproj
but anyway, those

[2018-12-17 15:17] esaruoho commented on #86
@asimilon.. what i'm wondering is if i should maybe clone the surge repo as it is, then bake a surge-vst2.xcodeproj and do a Kaleidoscope (app) compare between the files, since they seem to be textfiles. That would at least give me the flags required :)

[2018-12-17 15:30] jsakkine commented on #90
Thanks! Yeah, rtaudio looks like a good fit and can be compiled as a static library. I'll look into your previous works. Thank you.

[2018-12-17 16:09] asimilon commented on #79
The only source changes I had to make were removing `experimental::` from `std::filesystem`, like this:
[code]
everything else compiled as is (for VST2, VST3 had a ton of errors, and AU wouldn't go anywhere due to missing files).

[2018-12-17 19:33] asimilon commented on #80
I also see these link errors.  Not entirely sure from looking at `git blame` history, so wondering who wrote in the README

I'm wondering how this is possible that it built and linked?

[2018-12-17 19:38] baconpaul commented on #80
I had written that when it linked! I then got the au working and stopped looking at vst. And apparently now it is back to not linking :)

If it is the surgeditor symbol errors I fixed that by ifdefing out the class which wasn’t used. Later tonight I will take a peek and see what’s in head.

These sorts of problems will pop up more and more the longer our merge backlog is! I really hope we can get

[2018-12-17 19:45] baconpaul commented on #80
Right this diff

https://github.com/kzantow/surge/commit/f20830627f7b0e6546b771ab2f087a537c9673ea

Which made it work. That if 0 went to if !target audio unit, though, which is why au works and vst no longer does

So to make vst work also exclude that class if it is truly not needed or finish those methods. With it excluded I could compile and link but not run a vst

[2018-12-17 19:46] baconpaul commented on #80
Oh and that is my diff. Just I’m looking st it on kzantows big merge branch which is why his name shows up.

[2018-12-17 20:31] asimilon commented on #80
Slightly unrelated, but on the VST2 project, with some excluding of AU specific files from `premake5.lua` I've got it successfully building and linking, however, it's not being recognised.  Perhaps it's going to be similar issue for the VST3, will investigate.

[2018-12-17 20:36] esaruoho commented on #80
@asimilon query -- what is not recognizing Surge.vst? Have you checked https://github.com/tracktion/pluginval to see what it says on the VST?

[2018-12-17 20:49] baconpaul commented on #80
great! Happy to answer any questions about the au or look at any diffs if that helps

[2018-12-17 21:57] baconpaul commented on #80
OK I figured out the premake thing that was breaking vat and how to change it so that AU still worked and have a diff coming which will allow VST3 and AU to link. Stay tuned. I'll push it to the big PR.

[2018-12-17 22:00] baconpaul commented on #80
https://github.com/kurasu/surge/pull/92/commits/ce3b57d913845e69d3148a1d66e176d52cbeb8ce

OK there's the diff. @asimilon if you want to use this you need to fetch and merge @kzantow branch "cumulative-fixes-and-zoomable-ui"

I have not included your build.osx changes in that. Honestly it was too tricky to pull the commit from a fourth remote!

But with those changes, VST3 and AU both link if you s

[2018-12-17 22:05] baconpaul commented on #80
Oh and by being in cumulative-fixes-and-zoomable-ui it participates in the big PR which gets the AU running also.

I don't want to add a million things to that PR. If you actually can get the VST validating from there maybe a separate one makes sense but to do that one you will probably want to start from the cumulative-fixes branch.

[2018-12-17 22:12] jsakkine commented on #89
Should the error messages be same across plaforms? Just for plain interest, what is the problem with CTextEdit?

[2018-12-17 23:20] baconpaul commented on #89
Maybe, but the remediations are different, and anyway @kzantow has a fix to get these from resource so it should "never happen"

If you google "how to show a modal system alert cocoa stackoverflow" it doesn't give you CTextEdit code to copy and paste. :)  Happy for someone to change it but it seems like a pretty infrequent code path.

[2018-12-17 23:48] esaruoho commented on #90
loox like progress on this started at PR #96

[2018-12-18 00:36] jsakkine commented on #90
Actually, maybe I'll close my PR now and hold up until those are merged? Maybe get more stuff while at it. I'll do a new one once the mainline is updated.

[2018-12-18 00:41] baconpaul commented on #90
OK great. Thanks!

Also, if you pull that branch (so you grab all those commits) quite a few small bugs here and there will get fixed. Don't know how many impact your project but may be a help.

[2018-12-18 09:39] esaruoho commented on #14
@getdunne is there any chance you could document the VS2017 - settings and building further so someone could make a PR / Branch out of that and maybe update the `README.md` file so we'll eventually be able to bake VSTs. This way nobody needs to create a `.dll` with their own VST license and share it somewhere and get into trouble with steinborg.

[2018-12-18 10:04] kurasu commented on #91
This kind of assets could be done with draw commands rather than SVGs. That way we also have control over the pixel grid so we could do non-integer scaling without going to blurry-town. But not all of them are this easy..

Another option would of course be to use large (400%?) bitmaps instead and resample as needed. That might be the simpler approach.

[2018-12-18 10:45] #29 closed

[2018-12-18 10:45] #77 closed

[2018-12-18 12:12] kzantow opened #97 "Automate builds with a cloud service"
I'm investigating automating builds using a cloud service -- Azure Pipelines apparently allows for both Windows and macOS for free for open source projects; I almost created a working pipeline for macOS, it would be nice to get 'nightly' builds at least for now, and have some way of automating release. Unless someone else has a better idea.

I started looking around after I noticed Mac Stadium all

[2018-12-18 12:15] baconpaul commented on #91
Right. I thought about that. But svg rules basically are draw commands that editors can edit.

The way rack does it - which I am close to having work on a branch - is to use nanosvg to parse svg then walk the parse tree ejecting draw commands based on the contents. Rack outputs nanovg commands but I am close to outputting vstgui equivalents

Then I add a class which subclasses vstgui::cbitmap to t

[2018-12-18 12:17] kzantow commented on #91
@baconpaul you're a best at this stuff. :) definitely agree SVG would be a nice way to go that would also allow for skinning fairly easily.

[2018-12-18 12:47] baconpaul commented on #90
Hi! #92 got merged so if you repull master you will have the latest greatest as a starting point!

[2018-12-18 12:48] baconpaul commented on #89
This is now meged

[2018-12-18 12:48] #89 closed

[2018-12-18 13:47] asimilon commented on #86
I have made the correct changes on my fork (pushed to master branch).
AU and VST2 are building correctly and work, VST3 is building and linking, but is not recognised by Reaper, will investigate further.

[2018-12-18 15:51] jsakkine commented on #90
Great. Today busy with work but probably tomorrow continue with this :)

[2018-12-18 15:51] jsakkine commented on #90
Anyway, rebased my tree

[2018-12-18 16:15] esaruoho commented on #83
@baconpaul didnt this get fixed in #92 ? If so, closing after i see it with my own very eyes :)

[2018-12-18 16:18] esaruoho commented on #72
#92 closes this (removal of kvr dsp audio URL from README.md)

[2018-12-18 16:23] esaruoho commented on #67
Closed by #92

[2018-12-18 16:23] #67 closed

[2018-12-18 16:23] esaruoho commented on #66
Closed by #92

[2018-12-18 16:23] #66 closed

[2018-12-18 16:24] esaruoho commented on #22
Closed by #92 except for needing zoom for vst2/vst3

[2018-12-18 16:25] esaruoho commented on #3
@jurekr how are things post #92 PR getting merged in? Still the same issue?

[2018-12-18 16:33] baconpaul commented on #83
It did! We can close this. I haven’t had time to run upstream master yet but I’m sure it is fine.

[2018-12-18 17:06] kzantow commented on #83
I can verify that @baconpaul's changes definitely fixed the waveform rendering. It's awesome now!

[2018-12-18 17:16] baconpaul commented on #81
So AU now has zoom but I'm going to leave this issue open for folks who want to implement it in VST or on Windows (@asimilon and @kzantow - that may be you!).

If you have any questions about how it works just drop them on this thread!

[2018-12-18 17:16] baconpaul commented on #80
Can we close this issue @esaruoho - It's now resolved after the #92 merge.

[2018-12-18 17:18] baconpaul commented on #61
OK so closing this issue now since it is all merged. I confirmed that a pull of kurasu/surge master and following the instructions in the README ends up with an AU which has a UI and which works!

[2018-12-18 17:18] #61 closed

[2018-12-18 17:30] baconpaul commented on #75
Huh I was about to add a comment like "do you still see this" but then I realized that I see it too.

However it isn't the pan slider that is missing. It is the "slider below pan".

[code]

is the code that activates it. So when you set the filter configuration to "wide" it appears, kinda. You need to click to force a repaint. And when you turn off wide it doesn't undisplay.

So the bug here is a

[2018-12-18 17:31] baconpaul commented on #75
Actually @esaruoho can you rename this issue to "Filter Width Pan Slider doesn't invalidate properly" so we know what to fix?

[2018-12-18 17:32] baconpaul commented on #76
Still a problem at head, @esaruoho?

I am not sure if this is a surge problem or a renoise problem. Any diagnostics at all?

[2018-12-18 17:56] asimilon commented on #97
I think Azure Pipelines is going to be the winner tbh, given it's free for OSS projects, additionally should also be possible to build Linux there too (Ubuntu images are available afaik).
When getting to the point, it's possible to install [InnoSetup using Chocolately](https://chocolatey.org/packages/InnoSetup) to build the installers on Windows.  I have created Packages based installer for macOS

[2018-12-18 18:00] asimilon commented on #94
It would be good to wrapper in a macro that is wiped out of existence for Release builds.

[2018-12-18 18:03] esaruoho commented on #75
@baconpaul i updated the title and will look again so can rewrite the original ticket. Thanks for the sleuthwork!

[2018-12-18 18:03] asimilon commented on #85
Didn't see this issue until now.  I built an installer using Packages, but using `pkgbuild` would definitely be preferable as it drops the dependency.

[2018-12-18 18:05] esaruoho commented on #76
@baconpaul i will ask on the renoise forums after baking a new audiounit.. if i can get it properly packaged with the resources/data -folder..

[2018-12-18 18:06] esaruoho commented on #80
Closing ticket :)

[2018-12-18 18:06] #80 closed

[2018-12-18 18:18] baconpaul commented on #85
Now that @kzatow has resources in the bundle we really only need the one step pkg build on the component which is above I think.

And then permissions to make a github release too I suppose

But the two step stuff i talked about above is all obviated now the component populates application support if it  isn’t there

[2018-12-18 18:21] baconpaul commented on #94
Agreed. My aulog has that mostly (the function becomes a noop which any optimized will optimize away if you set the logger off with an ifdef)

Just we need to pick a name and place and put it there.

Gotta say I would not have been able to make it work without a reliable printf to log handler though - so I think it is important.

And also, I applaud your optimism in contemplating a Mac or Linux re

[2018-12-18 18:50] kzantow commented on #81
I had a bit of a look at this, it appears that the VST code itself handles the macOS specific stuff... I'm looking in to how to change it without modifying the VST code directly, but haven't had much luck yet. I'm a complete noob when it comes to Objective-C and Cocoa framework. I'm sure it's doable, since other plugins can do this. Will report back with any progress I make. Also, I'd like to sugg

[2018-12-18 18:53] baconpaul commented on #81
Where does the VST code do it? And can you tell me a way I can run the VST code on my Mac (I don’t even have a VST host running afaik).

We can probably play almost exactly the same trick if we get a reference to the nsview holding the component which must be in the vst lib.

[2018-12-18 18:55] baconpaul commented on #81
Oh and yeah, I have zoomFactor hard coded to 200 in my user area since I always zoom anyway. I’d say more store a default size than last size though since if you have 5 surges running they will clobber each other. But having the default not be the teensy 100 is smart. That patch is host independent so happy for you to take a lead. Perhaps we just put the zoom into configuration.xml (but then we ha

[2018-12-18 18:57] kzantow commented on #85
Yeah, I'd say given the current state of things one of 2 options is the best:

1) just distribute the `Surge.vst`, `Surge.component` etc. directly in `.zip` format (since resources are included etc.)
2) create one of those "drag to the ____ plugins folder" type installers like this:

![](https://i.stack.imgur.com/joTDs.png)

https://stackoverflow.com/questions/10574223/how-to-create-drag-and-drop-

[2018-12-18 19:09] kzantow commented on #81
For a VST host, REAPER is quite good. Has a bit of a nag screen, but is only $60 to get rid of it. There's also the thing @esaruoho mentioned: https://github.com/tracktion/pluginval I just downloaded and built it, going to see how it works for testing VST/AU.

[2018-12-18 19:09] kzantow commented on #81
As for version fix / recursive updates, I'd rather punt on that for a little while ;)

[2018-12-18 19:41] baconpaul commented on #81
OK so I installed reaper and pluginval and both show me that "the vst doesn't work"!

pluginval was a little more useful. After doing a build and applying the diff to make package-vst3 use the executable from vst3 I

[code]

I see this

[code]

Ooof. So "someone who wants to and knows how to debug VST3" seems like they are up next? Perhaps we should move this to a separate ticket for "VST3 works w

[2018-12-18 19:43] esaruoho commented on #85
the drag'n'drop installing is easy to do for .vst .vst3 .component on mac, but the data/resources copying is the things that throws me off - ideally the user should not be asked to do this ("hey, so, unzip this folder to your ~/Library/Application Support/Surge" - not cool, never seen it done like that).

but maybe there IS a way of doing it, as @baconpaul posted a rather complex link to it recent

[2018-12-18 19:44] esaruoho commented on #85
@kzantow query, when you say "distribute .vst .component in zip" and then follow it up with "since resources are included etc" - what does `since resources are included` mean? did something change within the components themselves, so that they now contain the resources/data folder? did i really drop the ball that hard and didn't notice that happening? *confused*

[2018-12-18 19:45] kzantow commented on #81
I just tried doing a VST2 build from master and already running into problems and it doesn't load in `pluginval`. I'll dig into this. Looks like there is already #60 for this; I'll have a look at it today in my spare time.

[2018-12-18 19:48] kzantow commented on #85
@esaruoho yes, the VST and AU bundles include all the resources and automatically put them in `~/Library/Application Support/Surge` as appropriate now, there's no need to run a script or anything. One caveat: they only do this in the case that directory doesn't exist (e.g. the first time you run Surge / when it's first scanned by a host). So if you've manually created that directory, the bundled r

[2018-12-18 20:00] esaruoho commented on #85
@kzantow wow that's awesome! that really, actually is, awesome. thanks!
ignore whatever i said.

[2018-12-18 20:03] esaruoho commented on #85
@kzantow also you might find this PR interesting - i think maybe it has something going on in there that needs to be taken out #98

[2018-12-18 20:21] asimilon commented on #79
Those changes I detailed above aren't necessary any more (for me at least).  I was building successfully without them (XCode9 and brew llvm) after the #92 merge.

[2018-12-18 20:22] esaruoho commented on #79
ok, closing ticket :)

[2018-12-18 20:22] #79 closed

[2018-12-18 21:34] baconpaul commented on #75
Thanks @kurasu - the invalidation code means it doesn’t immediately toggle on off when you go into and out of wide, so there’s a tiny bug let there somewhere, but we can fix that soon enough I’m sure!

[2018-12-18 21:35] kurasu commented on #97
What about doing a disk-image based installer instead for macOS? (with symlinks to application support and the plug-in directories  with a background image instructing the user what to drag where)

That's what I did for the previous installers, and I could dig up the source files i used to do it if needed..

[2018-12-18 21:37] baconpaul commented on #97
@kurasu that would be super handy. Long discussion on this in #85 also.

[2018-12-18 21:39] kurasu commented on #78
I just added the original file to the repo

[2018-12-18 21:39] #78 closed

[2018-12-18 21:48] esaruoho opened #99 "any idea what "pr/59" branch is in the kurasu/surge repo?"
hi, anyone here have any idea what this branch
https://github.com/kurasu/surge/tree/pr/59

is? I take it @kurasu knows what this is but anyone else wanna hazard a guess?

[2018-12-18 21:51] kurasu commented on #85
for BW we've been using this tool to build scripted dmgs: https://github.com/andreyvit/create-dmg

For surge 1.5 I just created a sparseimage manually and converted it to a bundle. I could provide those via e-mail to look at but I don't want to put those in the repo.

[2018-12-18 22:06] esaruoho opened #100 "Convert "Surge manual.odt" to markdown and either bake it into a file while publishing, or ..?"
@jsakkine hi, @kurasu just posted `Surge manual.odt` a couple of minutes ago, and I'm wondering what the best method for distributing this would be. I'm edging towards markdown, but since you're a bit more knowledgeable about opensource projects, I'd value your opinion.

Is there some way of using a markdown file to bake it into a PDF.. or maybe using a markdown file to deploy the documentation on

[2018-12-18 22:07] kurasu commented on #99
i think the github client invented it for fun.. i killed it

[2018-12-18 22:07] #99 closed

[2018-12-18 22:09] baconpaul commented on #85
create-dmg seems to be exactly what we want to do @kzantow's idea in a batch. So basically make all 3 components, make a directory with them and the application, make the soft links, then create-dmg with the 4 links and background and you get the @kzantow 3-hours-ago thing. Thank you!

[2018-12-18 22:10] esaruoho opened #101 "VST3 Context Menus"
looks like the `vst3-contextmenu` ( https://github.com/kurasu/surge/tree/vst3-contextmenu ) is one commit ahead of the master branch. Which contextmenu was this fixing, @kurasu ?

here's a link to the commit https://github.com/kurasu/surge/commit/89d215f6ad7eef54971232435053301871f927cf

if anyone is moving towards building a vst3, maybe this commit is of use? @kzantow @JurekR @jsakkine @whydoubt

[2018-12-18 22:14] kurasu commented on #101
This branch is about adding support for a VST3 specific feature for context menus. Essentially the plug-in can ask the host application to populate the context menu when the user right-clicks on a parameter in the plug-in GUI.

[2018-12-18 22:20] unfa commented on #71
Isn't the VST2 SDK going to be unobtainable, since Steinberg have axed the standard?

[2018-12-18 23:31] esaruoho commented on #85
@asimilon it really feels like the sooner we get to a .pkg / .dmg combo that installs the files (VST2,VST3,AU) and the plugin simple runs and doesn't muck about with files, the better :)

man i wish these `pkgbuild` things were easier to run - really thought i had a solution for multi-plugin installing but naah. just not enough.

[2018-12-18 23:35] baconpaul commented on #85
I completely agree. Just I don’t know the magic for how to use pkgbuild.

I do know the final script will look like

1: Four executions of pkgbuild. 3 of them simple, since they are for .component or .vst or .vst3 with a target folder and one tricky since it packages up the data directory to go to application support

2: One execution or productbuild. —synthesize to make those 4 sub packages into

[2018-12-18 23:52] asimilon commented on #85
Is 3: strictly necessary?  Could just as well distribute a `.zip` of the single file `.pkg` installer bundle (like on Windows).

This is pure conjecture, but until we work out the logistics of signing, might having both unsigned DMG and `.pkg` force the user to have to "Allow" in Security prefs twice?  Regardless of that, learning `pkgbuild` is something that would be very useful for me, in both m

[2018-12-19 00:06] kzantow commented on #85
Just to reiterate, I have a slightly different idea of the "best" thing to do in general: include these files in the bundles and do not move them to the `Application Support`. This makes it MUCH easier to distribute changes to the config and wavetables without users mucking around with them. And then also have a user-area for other configuration data in `Application Support` e.g. custom wavetables

[2018-12-19 00:43] esaruoho commented on #19
@Jorgeelalto since today this repo progressed with about 100 new commits being merged into master - could you check again and see if you're still getting these errors?

[2018-12-19 00:51] baconpaul commented on #85
Yeah you know @kzantow I think this is one of those things where "the first person with a PR which does one of these things will say how we do it!". I think the pkg is more "native" and @asimilon has extra benefit from learning pkgbuild so I think we will end up there.

Remember, I "solved" this problem by telling people to run a crappy shell script outside of Xcode. So I'm definitely not an autho

[2018-12-19 01:52] esaruoho commented on #73
@baconpaul @kzantow @asimilon guys, d'ya think this is somehow possible? a lot of people, testing the github repo for the first time, seem to screw this up and forget to grab the submodule dependencies. if that could be wrapped into the premake5.lua, surely that'd be helpful?

[2018-12-19 01:57] baconpaul commented on #93
OK so I did some debugging. My environment is a Roli Seaboard with standard settings in Logic Pro.

I can get MPE working if I hack the code to force mpeEnabled = true in SurgeSynthesizer::onRPN no matter what. Then my glide sounds just like Equator. So the synth is really close. I think some of the protocol handling for activating MPE isn't matching the messages from the Roli, and maybe isn't mat

[2018-12-19 01:58] esaruoho opened #105 "Surge compatibility list (macOS,Windows,Linux)"
This one is really rather complex.

From my end, I'm able to confirm that:

## macOS 64-bit AudioUnit (macOS Mojave)
- [X] Logic Pro X
- [X] Ableton Live 10

## macOS 64-bit VST2 (macOS Mojave)
- [X] Renoise 64bit V3.1.1

@asimilon posted these:

Anyone else wanna pitch in? @abique @jsakkine @whydoubt @kmatheussen @kzantow

[2018-12-19 02:02] asimilon commented on #73
I'm a bit salty when it comes to this sort of thing, people need to RTFM! ;-)

[2018-12-19 02:14] asimilon commented on #73
Less salt:

[test for file existence](https://stackoverflow.com/questions/4990990/check-if-a-file-exists-with-lua) in lua

execute command in [premake5 alpha 12](https://github.com/premake/premake-core/wiki/os.execute)

Would need to test if `os.execute("git submodule update --init --recursive")` is portable across platforms, one would hope so.

[2018-12-19 02:44] esaruoho commented on #73
i..err..hurrdurr.. i tried to "do stuff" and promptly failed at it.

tried both of these but i just couldn't..
[code]
.. i guess i'm pretty c`LUA`less

[2018-12-19 02:49] baconpaul commented on #81
Hey OK I got a VST3 build working thanks to you and @asimilon which I could then install and run in a vst host I have running now (bitwig 2.4.3). So now I have a place where I can at least figure out the code which I need to intercept to implement zoom. Cool.

Thanks for those patches that made this work and install!

<img width="1488" alt="screen shot 2018-12-18 at 9 47 44 pm" src="https://user-i

[2018-12-19 02:55] baconpaul commented on #81
And here's just a note on how I will take a swing at this, probably this week

the vst4gui uses an NSView subclass called NSViewFrame

vst3sdk/vstgui4/vstgui/lib/platform/mac/cocoa/nsviewframe.mm

The editor seems to have a reference to this as "getPlatformFrame"

NSViewFrame* nsViewFrame = static_cast<NSViewFrame*> (frame->getPlatformFrame ());

so we should be able to have SurgeGUIEditor in VST

[2018-12-19 03:03] esaruoho commented on #83
closing! thanks @baconpaul

[2018-12-19 03:12] esaruoho opened #108 "installer-local-au.sh shooting a lot of permission denieds.."
what should i do about this?
[code]

[2018-12-19 03:13] esaruoho commented on #108
wondering what y'all think of this scrip? @kzantow @baconpaul @asimilon

[2018-12-19 03:19] esaruoho opened #109 "Surge-AU: 4 enumeration values not handled in switch: 'cg_GLOBAL', 'cg_MIX', 'cg_FILTER'... (Add missing switch cases)"
So, I'm trying to run Surge-AU via Xcode and am getting this error:

`4 enumeration values not handled in switch: 'cg_GLOBAL', 'cg_MIX', 'cg_FILTER'...`

in `SurgeGUIEditor.cpp`.

What might I be doing wrong, @baconpaul ?

[2018-12-19 03:20] kzantow commented on #108
@esaruoho those are odd errors, maybe try manually deleting `/Users/esaruoho/Library/Audio/Plug-Ins/Components/Surge.component` and try again?

Also might be worth trying `install-local.sh`, I made this script to copy the resources and build all 3 variants and install them to `~/Library/Audio/Plug-Ins/...`

[2018-12-19 03:31] esaruoho opened #110 "Surge-VST2: files in public.sdk/source/vst2.x not found"
Hi, I've got the export set ( `export VST2SDK_DIR="~/work/VST2.4SDK"` ) yet when I go to build `surge-vst2` with xcode, I get these:

`'public.sdk/source/vst2.x/aeffeditor.h' file not found (aeffguieditor.h)`
`'public.sdk/source/vst2.x/audioeffectx.h' file not found (Vst2PluginInstance.h)`
`'public.sdk/source/vst2.x/aeffeditor.h' file not found (aeffguieditor.h)`

should these be found?

[2018-12-19 03:36] baconpaul commented on #109
That's just a warning no?

I fixed it on one of my branches.

[2018-12-19 03:40] baconpaul commented on #110
Seems you are seeing a lot of breaks. Are you sure your branch is at head and your build is clean? I just did a build fro! Master and it all worked

[2018-12-19 03:40] baconpaul commented on #110
Oh but I don't have vst2; so ignore that!

[2018-12-19 03:42] baconpaul commented on #108
Did you accidentally build as another used once? What's the perms and owners on those files?

[2018-12-19 03:55] jsakkine commented on #71
I'll close this issue as I'm working on the standalone app now.

[2018-12-19 03:55] #71 closed

[2018-12-19 04:12] kzantow commented on #108
it looks like some of the permissions are `root:wheel`, I thought I saw. Somewhere the filesystem is hosed a bit.

`ls -alFd` each directory and figure out which one is owned by root. Or maybe just `sudo chown -r <username>:staff ~/Library`

[2018-12-19 04:17] jsakkine commented on #19
For VST2 build the my commits were missing. I've created a new pull request (substitute for #70).

[2018-12-19 04:32] esaruoho commented on #109
well that's weird - it doesn't seem to be fixed in kurasu/surge:master -- can it be?

[2018-12-19 04:33] jsakkine opened #112 "Platform specific code."
If you have a class `Foo`, would be good if the common code would be in `Foo.cpp` and macOS specific code in `FooMac.cpp`. Sometimes even having some redundancy (e.g. some platform specific functions have partly the same implementations) is better than the compilation flag porridge inside the source files.

You would place these platform specific files to their own subdirections e.g. `src/common/m

[2018-12-19 04:34] jsakkine commented on #112
This will also help me with the standalone app effort.

[2018-12-19 04:35] jsakkine commented on #112
And not sure how much Cocoa-code has landed but just skimming through the issues.

[2018-12-19 04:35] #72 closed

[2018-12-19 04:37] esaruoho commented on #108
I get this feeling that the root:wheel stuff happens in ~/Library/Audio/Plug-Ins/Components because I baked them with xcode.

so, one last thing..

am i first supposed to do build-osx.sh and then the other scripts - never actually running xcode in-between?

[2018-12-19 04:38] jsakkine commented on #112
In order to keep headers of platform specific cruft you can do something like;

[code]

And then provide declaration in lets say `FooMac.cpp` for `class FooImplementation`.

[2018-12-19 04:40] kzantow commented on #108
I've done full cleans and run just the scripts without issue. And built from XCode, both work fine for me.

[2018-12-19 04:41] esaruoho opened #113 "Surge-VST2: build-osx.sh: VST2.4SDK not correctly referenced, so Surge.dylib not correctly built"
i'm wondering if i'm supposed to be able to build a macOS VST even with vst2.4sdk (working) there. this is what build-osx.sh says:

[code]

---
(from #110 )
Hi, I've got the export set ( export VST2SDK_DIR="~/work/VST2.4SDK" ) yet when I go to build surge-vst2 with xcode, I get these:
[code]
should these be found? they are most certainly "in there" ( see https://github.com/kurasu/surge/issues/113#

[2018-12-19 04:44] esaruoho commented on #108
yeah i think this is something to do with xcode conflicting with osx-build.sh..

[2018-12-19 04:46] kzantow commented on #108
no, they do the same thing -- Xcode builds call the appropriate `package-xxx.sh` scripts at the end. unless you're somehow running Xcode as root, in which case that would make perfect sense. don't run Xcode or anything as root ;)

[2018-12-19 04:47] esaruoho commented on #86
for some reason, build-osx.sh will not build a vst2..
`target/vst2/Release/surge.dylib` never appears.

so
[code]

not sure how to encourage the building of vst2 :o

[2018-12-19 04:52] esaruoho opened #114 "build-osx.sh -> Update to recommended settings -> build-osx.sh -> Update to recommended settings"
pingpong going on between `build-osx.sh` and Xcode.

Basically, if I run build-osx.sh, and then boot up Xcode, Xcode will ask me to make some changes (`Update to recommended settings`) to vst2,vst3,au. if i then clean+build in xcode, and quit xcode, and run build-osx.sh, xcode will, yet again, ask me to Update to recommended settings.

Is there some way of evading this, so that one doesn't need to

[2018-12-19 04:54] esaruoho commented on #113
this seems to be caused by
[code]
and
[code]

[code]

and
[code]

i'm wondering.. these used to work, i mean, i have the
[code]

set alright, but yet it feels like `premake5.lua` is shooting these errors.

wasn't this fixed already, @asimilon @kzantow ?

[2018-12-19 04:59] esaruoho commented on #113
could this be related to
[code]

[2018-12-19 05:01] esaruoho commented on #108
okay, looks like xcode.app was screwed up and was somehow controlled by root/wheel. after recursively fixing the permissions,i was able to get an .au without issues. closing ticket. thanks and sorry!

[2018-12-19 05:01] #108 closed

[2018-12-19 05:01] esaruoho commented on #108
i did open a ticket about the pingpong tho #114

[2018-12-19 05:06] esaruoho commented on #109
closing.. something wrong with my repo

[2018-12-19 05:06] #109 closed

[2018-12-19 05:45] kzantow commented on #113
You don't have a valid VST2 SDK.

[2018-12-19 05:52] kzantow commented on #114
Is this for Xcode 10? It doesn't happen on Xcode 9. I'm not sure if there's a specific preference, but 9 is the last version that will build 32-bit, if there was any desire to distribute 32-bit versions, which might make it a reasonable target...

[2018-12-19 07:18] kzantow commented on #97
FYI - I got all the macOS builds all automated. This is good news, since it validates that on a completely clean machine, all 3 builds work. I built them and just published them to my own GH for now so people could validate they work properly. These are also, of course, still each including the resources. Obviously, it would be ideal to publish them to some more official project site. I'm happy to

[2018-12-19 11:06] esaruoho commented on #97
Can has vst2/3/AU esaruoho@gmail.com ?
Also will you be working on PC deployment?

[2018-12-19 11:45] baconpaul commented on #112
Curious where you see cocoa specific code outside of src/au or src/mac? Is it just the ifdef Mac copying stuff for resources?

I like code separation but a separate class isn’t always possible without loads of copy and paste right? But I agree aspiring to have Mac and windows and Linux specific stuff cleanly segregated would be great.

[2018-12-19 11:51] Jorgeelalto commented on #19
I see, I will wait for that PR to be merged. I have tested with the latest version of the master branch but I get the same problems in both VST3 and VST2.

[2018-12-19 11:52] jsakkine commented on #112
I saw the issue about the zooming code. I'm not speaking about separate class but more like that you have a set of functions in class where FooMac.cpp provides mac specific implementations of some of the functions. Not like there would be class FooMac. Then you can easily compile in those source files for mac.

[2018-12-19 11:54] jsakkine commented on #112
Like in the Linux kernel we have a declaration in a header of some function and depending on arch you compile in a different C-files, nothing more special than that.

[2018-12-19 11:55] jsakkine commented on #112
In some cases you can probably encapsulate the platform specific part into a separate function and let the master function to call it as part of its implementation.

[2018-12-19 11:55] esaruoho commented on #19
PR is #111

[2018-12-19 11:56] esaruoho commented on #114
@kzantow i think it makes sense to push out 32bit ones too, just in case ppl are using older macs

[2018-12-19 12:53] esaruoho commented on #19
@jorgeelalto the PR is in, let us know how you fare with Linux builds now :)

[2018-12-19 13:01] baconpaul commented on #114
Really? How old does your Mac need to be to not support 64 bit audio units or vsts? I’m fine embracing the future a bit and not killing ourself with another 3 packages to build and test if others are!

[2018-12-19 13:03] baconpaul commented on #112
Right - so take a look at the zooming code.

In src/common there is no cocoa code. I register a std::function as a callback and then in the au later implement that callback.

Is there something about the actual zooming code which is cocoa specific in the main branch? I designed and implemented it to be the exact opposite.

[2018-12-19 13:03] esaruoho commented on #114
@baconpaul f.ex. there are people still running 32bit Ableton Live and 32bit Renoise.. because they eat less CPU. If it is a non-issue to build 32bit plugins automatically (set-and-forget), then it would be of use for sure.

[2018-12-19 13:07] baconpaul commented on #114
Huh.  Well warnings on pointer size will matter a lot I guess. We should turn to those one day.

[2018-12-19 13:16] baconpaul commented on #114
Anyway to your original question; no there is no way to avoid this. Every time you run premake it requires you to update in Xcode 10.

The solution is to patch premake core so it emits Xcode 10 files which is a lot of work or run premake less often. The first is not a surge issue. The second is in the hands of the users.

I am resistant to doing something like if -f surge.xcworkspace don’t run pre

[2018-12-19 13:30] esaruoho opened #115 "Make 32-bit macOS & Windows AU,VST,VST3 buildable, and create automated builds for them for the releasepage"
Objective: Provide automated 32-bit builds for macOS (AU,VST2,VST3) + Windows (VST2,VST3) automatically, by utilising the following information from @kurasu @kzantow @asimilon and @getdunne

`Premake5` -related info provided by @kurasu
[code]

VS-Projects related stuff posted by @asimilon at #97
[code]

@getdunne's [surge-vst32proj.zip](https://github.com/surge-synthesizer/surge/files/2696528/surg

[2018-12-19 13:35] esaruoho commented on #113
@kzantow the thing with this is.. that it is a valid vst2.4sdk
`export VST2SDK_DIR="~/work/VST2.4SDK"`

- it does contain the required files. (see image)
![vst2_4sdk](https://user-images.githubusercontent.com/4966687/50223304-7ccef000-03a3-11e9-8d8a-e77393b80e78.jpg)

so what i'm really missing is, if `VST2SDK_DIR` is valid, the files are there, why do i get
such errors like the following not bein

[2018-12-19 13:41] esaruoho commented on #113
like, is it this?
[code]

otoh, in premake5.lua, under  linux, it is not even referencing `VST2SDK_DIR`. whycome?
[code]

[2018-12-19 13:41] esaruoho commented on #114
closing as "expected behaviour" :)

[2018-12-19 13:41] #114 closed

[2018-12-19 13:42] esaruoho commented on #110
i speak about this in greater detail in #113  - will post some of the segments from this issue in there and close this one.

[2018-12-19 13:42] #110 closed

[2018-12-19 13:45] asimilon commented on #113
Perhaps whoever set up the Linux target did not have VST2SDK available?

I'm going to make a clean clone on my laptop to see the outcome.

[2018-12-19 13:49] esaruoho commented on #113
@asimilon yep, this is why i closed #110 and copied the text from there to #113 so that this is highlighted as the same issue.

i'm getting stuff like this, and i'm not entirely sure why the builder doesn't find public.sdk/source
[code]

[2018-12-19 14:03] asimilon commented on #113
Must be something like permissions, or something else borked on your system.

Just successfully built in a clean clone.

[code]

![screen shot 2018-12-19 at 15 02 34](https://user-images.githubusercontent.com/5970482/50224829-2d86c080-039f-11e9-998a-ebbcc4b592f6.png)

[2018-12-19 14:05] asimilon commented on #113
What is your exact output from `env | grep VST`?

[2018-12-19 14:06] esaruoho commented on #14
can the vs2017 configuration manager be used to build a 64-bit VST2 for Windows?

[2018-12-19 14:09] #86 closed

[2018-12-19 14:10] esaruoho commented on #85
i would definitely appreciate a .dmg containing .pkgs . the user is supposed to know about evading gatekeeper. :)

[2018-12-19 14:10] esaruoho commented on #113
@asimilon hi
[code]

[2018-12-19 14:11] esaruoho commented on #113
(VST24SDK is there just because i'm trying to stab in the dark and figure out wth is going on)

[2018-12-19 14:11] esaruoho commented on #113
about the trailing `/` - all the paths in premake5.lua are built to automatically add the `/` into the mix.

[2018-12-19 14:24] asimilon commented on #113
Permissions perhaps then?  It unfortunately is something that's confined to your system :(

[2018-12-19 14:32] baconpaul commented on #28
Thanks for wrangling this into the repo! I’m going to close this issue as a result.

[2018-12-19 14:32] #28 closed

[2018-12-19 14:34] baconpaul commented on #97
This is fantastic. Could we have it pump out nighties to some site? What do well run projects do in this regard?

I have no direct experience running public cloud ci pipelines so really appreciate you doing this!

[2018-12-19 14:42] asimilon commented on #97
VST2 is not going to be possible, since we would need the SDK in the repo, and Steinberg have been actively going after repos that contain those files.  Also I'm not sure about the legality of distributing the binaries.  I have VST2 and VST3 developer licenses, but I don't know if that means I could distribute binaries that are not something my "company" is producing.  I certainly don't want to ju

[2018-12-19 14:50] baconpaul commented on #97
I completely agree that license risk is bad risk and we don’t want to take any.

I’ve been an au only person for a long time so am not familiar with these vst version issues. Appreciate the clarification.

[2018-12-19 14:50] kzantow commented on #97
@asimilon you don't need to have the SDK in the repo, just available to the build machine (which is how I currently have the automated builds set up). I agree the VST 2 licensing situation is rubbish. from what I understand, anyone with a "signed developer agreement" prior to October 2018 should be able to continue to distribute VST 2 plugins. I'm convinced I did this before. I almost don't even c

[2018-12-19 14:51] kzantow commented on #97
having a widespread API controlled by a company like this is just insanity. there really should be some standards body that comes up with open apis for this stuff

[2018-12-19 15:45] asimilon commented on #97
This precludes using Azure Pipelines then, since the VMs are ephemeral.

that's correct, also to distribute VST3 binaries you need the separate VST3 agreement.  Where I'm sketchy in knowledge (not being a lawyer and all) is do those agreements allow me (or anyone else with them) to distribute the binaries, given that they are not a product of the company with whom the agreement is.

I really hate

[2018-12-19 15:50] kzantow commented on #97
No, the VMs can download things from various sources, e.g. a private git repo with a legally obtained VST2 SDK.

[2018-12-19 17:11] jsakkine commented on #112
Ah, you're right. Yeah, did not try to make a statement about Cocoa code nor zooming code in particular but you are absolutely correct.

[2018-12-19 17:14] baconpaul commented on #112
Cool!

So tell you what we can just check this when we review prs together and I agree we should aspire to this type of separation unless there is a “good reason” not to.

And since it seems we agree and there’s no code to fix right now, can we close the ticket?

And thanks for pushing for quality code!

[2018-12-19 17:21] jsakkine commented on #112
Yeah, maybe there was a slight misunderstanding. I'm more used to open source projects where a mailing list is the primary platform, not that much a Github person :) We can close this ticket. The point was to present an idea :)

[2018-12-19 17:21] #112 closed

[2018-12-19 21:23] getdunne commented on #14
[surge-vst32proj.zip](https://github.com/kurasu/surge/files/2696528/surge-vst32proj.zip)
I don't have time to go through the pull-request process, but here is my .vcxproj for the VST2 build and instructions for how to use it, assuming you have access to the necessary files from the old VST2 SDK.

[2018-12-19 21:41] baconpaul commented on #85
Attaching PR #116 to this issue. I’ll give that a try and merge if it also works for me, then close this issue. Thanks @asimilon!

[2018-12-19 22:05] baconpaul commented on #3
So with all the PRs in the last week, multiple people have built on Xcode 9.4.1 10 and 9.2 all, fixing many of the errors which went by in this thread. So I’m going to close this issue. @JurekR if you pull to the top of master and follow the new README instructions you should get a good build. If not please let us know!

[2018-12-19 22:05] #3 closed

[2018-12-19 22:10] baconpaul commented on #73
I think the way to do this is to do a check in the top of build-OS X.sh which ejects an error message with the line to copy and paste then does an exit 1. Safest possible approach and easy to code in shell.

I’d approve a PR which did that. You know like

[code]

[2018-12-19 22:58] esaruoho commented on #19
@Jorgeelalto it's probably a great idea to look at https://github.com/whydoubt/surge/tree/linux_storage (heads up @jsakkine) - this might eventually make it into a PR, maybe there's something useful coming in there? :)

[2018-12-20 00:19] baconpaul commented on #19
Just as an update, I took my ubuntu vm, pulled head, and built surge-app (not surge-vst3) and it linked no problem. I just needed to

[code]

first.

[2018-12-20 00:21] baconpaul commented on #19
surge-vst3 links for me also. No idea if it works. But at least on my vm (16.04.10 ubuntu with g++ 5.4.0) seems the recent spate of PRs have things linking. Just an FYI.

[2018-12-20 00:40] esaruoho commented on #113
I actually do trash the surge local repo on my drive pretty much daily just to make sure i don't have anything getting wrecked.
even after completely deleting the whole folder and cloning, i will get the same error. i wonder what i'm missing.

[2018-12-20 00:40] esaruoho commented on #113
i will do a clean checkout on master and paste what i get. just a sec

[2018-12-20 00:50] esaruoho commented on #73
attempting this now, @baconpaul

[2018-12-20 00:53] esaruoho commented on #73
fixed by #118

[2018-12-20 01:01] esaruoho commented on #19
@baconpaul what's `surge-app` ? vst2, or standalone? surely we're not in the status where a surge linux standalone exists, or WDYT @jsakkine ?

[2018-12-20 01:04] baconpaul commented on #73
Tx! Merged

[2018-12-20 01:04] #73 closed

[2018-12-20 01:05] baconpaul commented on #19
Its @jsaskkine's work which got merged into the main branch. It doesn't work. But it does link!

[2018-12-20 01:14] esaruoho commented on #113
ok.. here's the freshest errors:

error1
[code]

error2
[code]

error3:

[code]
error4:
[code]

and last error
[code]

basically, looks like my "why yes, the folder is in `~/work/VST2.4SDK`" doesn't work.

now, what i COULD do, is try and use an implicit url (explicit url?)
[code]

let's see what happens this time.

... well, what do you know - it works:

pro-tip: don't use `~/work/VST2.4SDK`, ins

[2018-12-20 01:14] #113 closed

[2018-12-20 01:14] esaruoho commented on #113
thanks for the handholding, @baconpaul , i guess i learned quite a bit on this one :)

[2018-12-20 01:16] esaruoho commented on #19
okay. looks like we could wait till @whydoubt pushes in his PR for this branch of his that's wip:
https://github.com/whydoubt/surge/tree/linux_storage

anyway, nice to see that the linux work is being progressed by both @whydoubt and @jsakkine

[2018-12-20 01:18] baconpaul commented on #113
Well I'm not sure how anyone is supposed to know anything. But the problem you are having is the use of "" in shell which stops expansion.

Compare:

[code]

~ is shell expanded and so if you don't know the expansion rules it can burn you. But a short version of the expansion rules is "in quotes it doesn't expand". And then the tools downstream look for absolute paths. Hope that helps.

[2018-12-20 03:08] baconpaul opened #119 ""rename" on mod controllers doesn't work in Mac AU"
So I'm close to getting MPE all squared away, and in doing so added an explicit menu on the mod controllers to set a mod source to, say, midi CC 13. You can see all that in my mpg-routing branch which is underway.

Along the way I checked the other menu items and it turns out that "rename" doesn't work.

[code]

seems `spawn_miniedit_text` in the AU at least ... well ... doesn't spawn! So let me l

[2018-12-20 10:56] davephillips commented on #19
Greetings !

I can build the VST2 and VST3 plugin for Linux but neither will load in Bitwig, I always get the "Could not read plugin metadata" error. I also a ran a small VST2 debug program (from the VeeSeeVSTRack project) on the Surge binaries, the error reported "Could not find mainProc". Any suggestions ? Btw, I've been following this issue and building the code regularly. Unfortunately life ev

[2018-12-20 11:05] jsakkine commented on #19
Sorry I'm for a while bit passive because my paid work on kernel takes all my time :) I'll become active when the holidays start. @whydoubt: sorry to interrupt ongoing work but it'd be nice if you could take the model that I proposed in https://github.com/kurasu/surge/issues/112 for Linux specific changes.

[2018-12-20 11:05] esaruoho commented on #19
@davephillips can you try and check the VSTs with http://github.com/tracktion/pluginval and let us know what the app says?

[2018-12-20 11:06] jsakkine commented on #19
@baconpaul: yeah it is essentially an explicit check that you have all the required VST2 files.

[2018-12-20 11:13] esaruoho commented on #26
please, could you change the title of this from `MIDI control problems` to like `VST3-Win: MIDI control issues`
:)
easier to troubleshoot.

[2018-12-20 11:14] esaruoho commented on #24
here's a ticket re:Mac  32-bit versions ( #115 ) - would be good to be able to bake 32-bit windows VST2/VST3 too

[2018-12-20 11:18] davephillips commented on #19
@esaruoho No problem, I'm building it now. I'll report back asap.

[2018-12-20 11:36] esaruoho commented on #115
as per people requesting a windows 32-bit on #24  - would be good to be able to bake 32-bit windows versions for vst2,vst3.

is this possible with your azure voodoo, @kzantow ?

[2018-12-20 11:36] esaruoho commented on #19
thanks @davephillips !

[2018-12-20 11:38] esaruoho commented on #16
@baconpaul what's your take on this one?

[2018-12-20 11:50] AtmanActive commented on #16
On Windows, [portable software](https://en.wikipedia.org/wiki/Portable_application) means that it is not enforcing it's paths and dependencies on users.
In other words, Portable Software can have an indefinite lifespan, since it can work correctly on any windows without requiring any action from user. On the other hand, a non-Portable software is forcing the user to perform the dreaded Setup.exe o

[2018-12-20 11:53] baconpaul commented on #16
My take is “I haven’t used windows for development in a long time”. Sorry!

This sounds like a good idea but I have no clue how you would do or test it.

[2018-12-20 12:02] davephillips commented on #19
@esaruoho  Pluginval reports that the files appear to be plugins but that they fail to load. And that's all it reports. :(

[2018-12-20 12:17] funkaloss commented on #26
Donera!

[2018-12-20 12:40] jsakkine commented on #19
Meta-question: what is the good practice in premake to do depedency checks i.e. get missing gtkmm reported when it is missing when you issue the premake command?

[2018-12-20 12:44] jsakkine opened #120 "Set up IRC logging"
Many of the issues are not actually issues/tasks but merely discussions. I think it'd be good idea to set up mailing list. I found this: https://www.freelists.org/. Any other comparable service would be fine too.

[2018-12-20 12:45] jsakkine commented on #120
One example: https://github.com/kurasu/surge/issues/112

[2018-12-20 12:59] jsakkine commented on #19
Related to standalone. Would be nice to be able to list the dependencies and make premake complain if something is missing.

[2018-12-20 13:08] baconpaul commented on #19
Yeah @jsakkine we looked at that a little and it seems premake is just lua code but lua doesn't make it super easy to do some of those things. For mac after @esaruoho tried a few things we just put a check into build-osx.sh which is unsatisfying.

I've never used premake and barely used lua; and googling doesn't help much.

I agree it would be nice if there was a clean check of prerequisites (like

[2018-12-20 13:10] baconpaul commented on #120
I have no objections! If you do this and send a PR to the README.md with appropriate instructions on how to sub and stuff we can sweep that in. And I would join the list!

[2018-12-20 13:13] baconpaul opened #121 "Root of the Repo"
In #116 @asimilon said

and I said

so then I created this issue rather than talking about a change on a now merged and closed PR.

[2018-12-20 13:20] baconpaul commented on #121
OK @asimilon said in the PR he liked the idea so I'll take a shot at it today. I'm tired of looking at vstgui and midi binary code so it will be a nice shift!

[2018-12-20 14:13] AtmanActive commented on #16
From a programmer's point of view, it is really simple:

- never assume any 'well known' or other common paths
- always discover your own's executable path dynamically and use that as your root path
- read/write only from/to this root path you discovered in the previous step

[2018-12-20 14:56] whydoubt commented on #112
There is an IRC channel on freenode: #surgesynth
However, without a logging bot, it's not good for conversations that you want to reference later or loop someone new into.
Never used Slack, but I have used gitter and discord.

[2018-12-20 15:22] jsakkine commented on #112
I think there is a logger bot service in Freenode. I can check!

[2018-12-20 15:23] kzantow commented on #115
@esaruoho yes, I think so - it's using Xcode 9. I'm just trying to get windows building on Azure first, then will see about adding 32-bit to the mix

[2018-12-20 15:23] jsakkine commented on #112
But IRC channel (nor Github) does not really replicate benefits of the mailing lists.

[2018-12-20 17:06] kzantow opened #126 "Unable to build installer on Windows VM"
Trying to get Windows builds working per #97 but I'm having issues getting the project built. `msbuild` reports:
[code]
And the same error for VST2. I've tried adding an explicit NuGet step and using the `restoreNugetPackages` option, but nothing really seems to solve this issue -- I don't really have a handy Windows machine at the moment, so any pointers what I'm doing wrong or how to solve it wo

[2018-12-20 17:09] baconpaul commented on #126
@kzantow I haven't done anything with windows in a very long time, so have nothing to offer here, sorry!

[2018-12-20 17:23] baconpaul opened #127 "User patches don't save properly on MacOS"
Now I'm getting MPE working, I started making some patches for MPE which I was going to eventually move into the surge factory patches. But I discovered that on mac the save of user patches doesn't work.

I suspect it is something to do with this in SurgeStorage.cpp

[code]

that ~ probably needs to be `getenv( "HOME" )`-ed. But put an issue here.

I will try and build and merge #125 before PR thi

[2018-12-20 17:49] baconpaul commented on #121
OK all merged. The mac stuff is now all ensconced in subdirectories with just a beefier build-osx.sh

[2018-12-20 17:49] #121 closed

[2018-12-20 17:55] whydoubt opened #128 "VST3 bundle layout"
With VST 3.6.10 SDK came a significant change.  VST3 plugins on all platforms are now supposed to be distributed with a common bundle-like layout.  The test hosts from the SDK expect this layout, so Linux testing #19 is aided by doing this.  And while it seems bundling Surge is currently a bit hairy as it is, this layout is also supposed to make something like a universal bundle for VST3 possible.

[2018-12-20 18:14] baconpaul commented on #128
Take a look (in head) at scripts/macOS/package-vst3.sh perhaps? That creates a vst bundle from our .dylib which works in macOS vst hosts.

[2018-12-20 18:24] unfa commented on #19
@bluszcz - when I read how you started this issue, I immediately though about a video I've posted recently: https://www.youtube.com/watch?v=KYeTg4_k1Q0

Anyway - I'd love to try Surge once I can run it on Linux, and I could also make a video about it later.

I'm into all things related to open-source and audio.

[2018-12-20 18:39] whydoubt commented on #19
@unfa I've watched some of your YT videos in the past.  I think you mentioned once about avoiding VST plugins.  Am I remembering correctly, and is this still the case?  While I am currently working towards getting Surge on Linux as VST2 or VST3, longer-term I would like to get it working as a LADSPA or LV2 plugin.  I would enjoy hearing your thoughts.

[2018-12-20 18:49] #127 closed

[2018-12-20 18:53] unfa commented on #19
I try to use LV2 plug-ins wherever possible, as LV2 is a truely open standard, while VST is a proprietary technology (and Steinberg has recently decided to murder VST2 in order to replace it with VST3 - which seems to be completely independent format, despite the name).

When I can't get something to work as LV2 (like Oxe FM Synth) but it's still open-source and a Linux-native VST I'll go with it.

[2018-12-20 18:55] baconpaul commented on #119
Huh. This code in PopupEditorDialog.cpp certainly explains why!

[code]

Ha. Well I guess at least we know now what the problem is.

[2018-12-20 19:01] baconpaul commented on #16
Oh, so basically "be like a mac .app bundle" type thing. Makes sense.

I don't have a windows build or test environment so can't do any windows dev but are there particular spots in the codebase where you see us violating these rules? May be useful for whomever ends up fixing them.

[2018-12-20 19:56] AtmanActive commented on #16
/master/src/common/SurgeStorage.cpp: lines 193-207

[code]

[2018-12-20 20:19] kurasu commented on #16
As a default, I think its better to use the established paths of the operating system for storing data, as its what the average user expects anno 2018, i.e I don't need to worry about the file system for installation and when I save something myself it end up somewhere in my documents folder.

Bu I wouldn't be against it as an option for those who prefer it, it could look for the localAppData rela

[2018-12-20 20:33] AtmanActive commented on #16
@kurasu : I can see that you don't understand Portable paradigm and are light years away from it.
Happy reinstalling/backing up/restoring and starting your digital life all over from scratch each time you change hardware or O/S.

I'll stick to v1.5.0, thank you very much.

[2018-12-20 22:33] whydoubt opened #130 "Linux VST2: undefined references for __cpu_model, __cpu_indicator_init"
As a quick-n-dirty check for undefined references on Linux, I run
[code]

I get `__cpu_model` and `__cpu_indicator_init` reported as undefined.  I found that it seems to be related to the use of `__builtin_cpu_supports`.  It can be fixed in one of two ways: link with gcc instead of g++, or add libgcc and libgcc_s to the libraries to link.

I wondered if anyone else had seen this?

This is on curre

[2018-12-20 23:05] esaruoho commented on #120
imho this current github-tickets / PRs as conversations is good because anyone can chime in anywhere. if you're not on the mailinglist, you don't know what's going on in there. here you can reference code directly, everyone sees the reference, it can be modified on-the-go. i've found these conversations fruitful and would have a great deal of trouble following them in a mailinglist environment whe

[2018-12-20 23:10] esaruoho commented on #15
@kurasu since you own the repo and are the originator of the plugin code, what do you think of this request from @getdunne ?i mean, maybe if it has been decided that it won't change, maybe this ticket can be closed.. or something?

[2018-12-20 23:59] baconpaul commented on #130
That ld trick is cute. I always used a version of nm -g and grep and un-doing the name mangle in my head.

Anyway I can't build VST2 but I can build VST3 and then I get __cpu_mode and moduleHandle being undefined as well as all the stuff in SurgeVst3EditController which didn't build on mac.

[2018-12-21 00:34] baconpaul commented on #130
Apologies for screenshots. My VM isn't copy and pasting to my browser properly.

With these three diffs

First stub out SurgeVST3EditController just like I did on mac (two diffs)

<img width="856" alt="screen shot 2018-12-20 at 7 30 42 pm" src="https://user-images.githubusercontent.com/13387561/50318228-d90e3e80-048d-11e9-9734-22fbf6a18fca.png">

Second add -lgcc_s and -lgcc to premake5.lua

<img

[2018-12-21 01:02] whydoubt commented on #130
I actually have several patches prepared for all of these. Just checking if others were getting them.  Note: I have submitted a fix for the missing getTicks64 reference to Steinberg: https://github.com/steinbergmedia/vst3_base/pull/1

[2018-12-21 01:04] baconpaul commented on #130
Oh OK cool I'll stop hacking on them then. You added linuxmain to the vst3 files for linux too? That got rid of moduleHandle.

Is there something to do about getTicks64 while we wait for steinberg? Could we include a patch file that we apply for instance?

[2018-12-21 02:08] baconpaul commented on #93
Alright, on Logic on Mac with a Seaboard, Surge is now a fully functioning MPE synthesizer.

I have a PR for this but if you re interested you can pull my branch too.

I'll make some patches in the new year.

[2018-12-21 02:10] kzantow commented on #126
Okay, I figured this out, apparently it's just necessary to run `NuGet` separately. Now, does anyone know how to automate install of `Inno Setup` on a VM?

[2018-12-21 02:19] asimilon commented on #126
I assume looking at that `D:\a\1\s\surge...` path above this is on Azure Pipelines?

In which case Chocolately is available on the Windows VMs, and InnoSetup is [an available package](https://chocolatey.org/packages/InnoSetup).

[2018-12-21 02:59] kzantow opened #132 "Add flag to output build logs with build-osx.sh"
When building in CI, logs written to a file are lost when the VM terminates; it is much better to just output to terminal so results can be viewed. It would be fine to add a flag to make this behavior non-default.

[2018-12-21 08:31] jsakkine commented on #128
For packaging I would recommend to go with Flatpak and/or snap instead of any distribution packaging. They are very similar to what dmg provides.

[2018-12-21 08:32] jsakkine commented on #128
I'm able to test cmake on Linux and macOS but need someone to test that it does not break Windows build.

[2018-12-21 08:34] jsakkine commented on #128
Seems anyway kind of required groundwork even for standalone.

[2018-12-21 09:41] geoslake commented on #16
As a default, yes, it should follow MS guidelines. But there should be an option to have it all clean, all in one folder.
Presets in documents is a bad thing to me (even though I agree it should be default), because if you reinstall the os, it's easier to mess things up (f. I. Heard of 1809 documents story?).
As a user speaking for simplicity, my view is that nothing but the OS should be stored on

[2018-12-21 12:10] baconpaul commented on #132
Easy enough to do. Also easy to do with an environment variable. Which do you prefer? Perhaps if you set a uniform ci build env var we can use that elsewhere too?

[2018-12-21 12:14] baconpaul commented on #128
So for Mac we have the whole pipeline from source to a Mac pkg working using shell scripts. And @kzantow has windows packagers working on azure pipelines using a similar set of scripted activities

I don’t like premake very much from my one experience with it here but I wouldn’t replace it at this point. Rather I think we should figure out what’s the set of Linux packaging scripts which are approp

[2018-12-21 14:02] jsakkine commented on #128
Well, the dependency management is either broken or non-existent in premake5 depending on how view it and that is plain wrong. I can PoC CMake and you can decide then. The way I see it earlier the better because premake5.lua is only going to turn into a bigger mess .

[2018-12-21 14:05] kzantow commented on #128
@baconpaul @jsakkine  are there other alternatives for project definition that can generate both Visual Studio and XCode projects?

[2018-12-21 14:06] jsakkine commented on #128
Yes, CMake can do it and in fact VST3 SDK also uses CMake.

[2018-12-21 14:07] baconpaul commented on #128
OK!

But I think this change is going to need to coordinate with a couple of moving parts. So let me tag a few folks

1: @kzantow is working on automating builds on azure using current script layout
2: @asimilon made the mac .pkg stuff work
3: I'm actively developing the C++ code on mac (but presumably that would be fairly transparent to your change) and need Xcode output for that

So we need to k

[2018-12-21 14:08] baconpaul commented on #128
And also please don't take my comments for not being appreciative. Thanks for the work here and if we can pragmatically dump premake and have it all work, I'd be both happy and thankful!

[2018-12-21 14:09] jsakkine commented on #128
@baconpaul: I can PoC this with the current master and we can decide later how to integrate it. First just to  see how well or not well it works. And I like argumenting :) I'm happy to rebase and fix conflicts in my CMake patch up until there is a good point in time to merge it. But first I just ignore that other work and create commits to my repository without doing a pull request at first.

[2018-12-21 14:10] kzantow commented on #128
@baconpaul @jsakkine  last night I successfully built both Mac and Windows installers on Azure using the current toolset (I didn't test windows, of course). I don't mind changing it, but I am not a C++ dev by trade, so I'll be happy to have some help with the tooling. I've definitely used CMake with scripts/etc. others have put together, just never defined/modified them.

[2018-12-21 14:10] jsakkine commented on #128
I do open source also professionally so for me rejecting patches is not really something that I take personally. Don't worry about that.

[2018-12-21 14:11] baconpaul commented on #128
Sounds great. And yeah I've also done big open and open-like projects through my career so don't take it personally. But have learned that not everyone in the community does so try to be nice! Thanks for doing that also. Kinda of a cool little micro-community which has popped up here around surge.

[2018-12-21 14:11] jsakkine commented on #128
@kzantow: does it works for you if I initiate this work and you help me to finalize it. For example, I don't have Windows so if I make it work for Linux and macOS you could help with Windows once I have the foundations?

[2018-12-21 14:12] kzantow commented on #132
I don't really have a preference, though I guess an environment variable would be the most consistent if there are scripts all over using across platforms. I'd like to see what the CMake stuff looks like #128 .

[2018-12-21 14:14] jsakkine commented on #128
Or even better maybe I'll start with one platform and one plugin type and then ping you when I have commits to that? That way we can optimally distribute the work.

[2018-12-21 14:15] kzantow commented on #128
@jsakkine I also don't have windows ;) I can install a VM temporarily to figure it out, I'm sure. I just automated the current scripts in a Windows VM on Azure Pipelines.

[2018-12-21 14:16] jsakkine commented on #128
I'll start with macOS AU target because that is easiest to get working and test. Once I have that done I'll ping you. After that we figure out the rest.

[2018-12-21 14:20] baconpaul commented on #132
I just tossed in a PR which adds a --verbose flag. Check it out and if it works I'll merge it.

[2018-12-21 14:22] baconpaul commented on #128
Sounds good.

I think if you can do mac AU and mac VST (they are very very similar) in one shot it will bang out a few extra bugs on the path. The approach in the current build scripts is really easy to follow as well I think (but I would say that, since I've been in them with @kzantow and @asimilon for the last week :) )

Good stuff.

[2018-12-21 15:40] whydoubt commented on #130
I wasn't using linuxmain before, but I will be now.  It looks like it will solve a couple of other things I was doing another way.

[2018-12-21 16:06] baconpaul commented on #130
Hey cool! Feels like we are closing in on a working VST3 on Linux! Nice.

[2018-12-21 18:22] baconpaul commented on #130
Hmm ... sounds tricky. Do you have those patches in a way which we could non intrusively merge so other people can look? But I’m sympathetic - I went through a few tries before I got Mac au to a point where I was even willing to think about a pr!

Also curious how the ui code is different.

[2018-12-21 19:40] kzantow commented on #81
@baconpaul great, I can pick that up and debug what's going on. I have some ideas to make the UI a little better, I think I mentioned somewhere before, will try to get some time in the next couple days to muck around with it.

[2018-12-21 19:44] baconpaul commented on #81
Super

It resizes and scales properly butndoesnt do the origin mapping and window decoration handling. All the code is in the src/vst3 objective c file added on that branch.

I also have a bunch of work started on using svg in the ui rather than bitmap but the rebase on that failed. That said if your ideas include vector drawing and svg handling my “vectorized-draw” branch is a start. I’ll try and

[2018-12-21 19:52] kzantow commented on #81
Well, I don't have merge permissions, so no problem there ;)

[2018-12-21 20:15] baconpaul commented on #91
Hey @kzantow if you want to see how I'm thinking about vector drawing the new branch in baconpaul called "svg-drawing-91" has the code. This will actually load and kinda draw an SVG asset for one of the bitmaps.

Looks like garbage. My drawing code is stupid. But has the plumbing in place.

Again, just if you are interested.

On and if you get it you will need to do a git submodule update --init -

[2018-12-22 01:12] baconpaul commented on #93
This has been swept to master. Closing issue.

[2018-12-22 01:12] #93 closed

[2018-12-22 04:01] jsakkine opened #137 "Migrate from premake5 to CMake"
There are numerous reasons to migrate to CMake:

- CMake is a very mature build system where we can find ready made solution for almost anything we might ever encounter.
- CMake is designed for C++. Just to give you a glimpse, it provides things like defining the C++ standard version in the level that you can even specify separate standard versions for internal and outfacing interfaces. Most of th

[2018-12-22 04:05] jsakkine commented on #128
There is now issue #137 and I'm already making progress making build files for CMake. Sorry for spamming this issue. More used to mailing lists where things kind of flourish more freely.

[2018-12-22 04:08] jsakkine commented on #137
Started writing build files. Try to get something out ASAP.

[2018-12-22 05:33] jsakkine commented on #130
This issue must have been caused by me with the changes to `CpuArchitecture.cpp`. Checked but I don't see `cpu_*` to be undefined. My GCC version is `gcc (Ubuntu 8.2.0-7ubuntu1) 8.2.0`.

[2018-12-22 05:36] jsakkine commented on #130
@baconpaul I'd just SSH to the VM.

[2018-12-22 05:39] jsakkine commented on #130
BTW, what is the function of `vst2wrapper.cpp` and `vst2wrapper.sdk.cpp`?

[2018-12-22 05:51] jsakkine commented on #120
Soon to be closed as soon as @esaruoho parts out the channel :) Then I set up ChanServ there and we get logging.

[2018-12-22 05:53] jsakkine commented on #137
Here is also a motivational video about CMake and its merits: https://www.youtube.com/watch?v=rLopVhns4Zs

[2018-12-22 06:01] jsakkine commented on #44
I'll close this now with the conclusion that it does matter but is too early. Once "everything works" (heh) we could write some high-level conventions to the `README.md`. ATM run-time is broken except for a small subset of platform/target combinations and even the build/packaging is somewhat flakky. This is better topic to discuss later.

I don't know if it is just me but only thing that really hu

[2018-12-22 06:01] #44 closed

[2018-12-22 06:08] jsakkine commented on #15
- GPL3 governs from someone making a closed version of Surge with improvements that are not given back to the community.
- Implementing this issue would require all the copyright holders (i.e. everyone who has contributed to the codebase) to mutually agree with the license change.

@baconpaul, can you close this issue? I think with these conclusions we can consider it implemented.

[2018-12-22 06:37] jsakkine commented on #15
@esaruoho: doesn't matter from copyright law perspective who owns to repository. They should have some kind of contributor agreement in place like some projects have in order to get implicit copyright transfer. Since there isn't one this project has as many copyright holders as there are contributors.

[2018-12-22 06:44] jsakkine commented on #14
Going through old issues for fun to find the dead leaves. Maybe you could try with a newer build? @kzantow was working on automatic Windows builds so maybe you could grab on of those. Dunno, what is the status of that effort, though.

[2018-12-22 06:45] jsakkine commented on #19
Asked this some other issue too but the heck are `vst2wrapper.cpp` and `vst2wrapper.sdk.cpp` in vst3sdk?

[2018-12-22 06:47] jsakkine commented on #19
And what is the definition of done for this issue?

[2018-12-22 06:57] jsakkine commented on #94
I don't whether it is good or not but many projects favor http://www.pantheios.org/. Worth of looking into anyway just because of the popularity. Here's something about its performance: http://www.pantheios.org/performance.html

[2018-12-22 07:05] jsakkine commented on #130
I looked into another open source synth called Tunefish. Their evolution with the UI was

1. VSTGUI
2. Qt
3. JUCE

Would be interesting the know for long-term plans what were the core reasons to eventually migrate to JUCE and is that something that we should consider in long-term. With my VSTGUI experience I can't really tell...

[2018-12-22 07:43] jsakkine commented on #105
Apologies for asking meta-questions, but since these are tickets how do we get this closed?

[2018-12-22 09:11] jsakkine commented on #97
Proposal for synchronisation. I contribute the first CMake infrastructure without removing premake build files so that I don't break this. Then I'll open a ticket for migrating this to CMake. Once that is done we can safely remove premake.

[2018-12-22 09:11] #105 closed

[2018-12-22 09:16] esaruoho commented on #19
@jsakkine i would venture to guess that getting a VST2 and VST3 to compile and build successfully and to run on hosts == Ticket can be closed

Oh and updating README.md w instructions on how to do it. Maybe even a screenshot of Surge running on a Linux host. WDYT?

[2018-12-22 09:19] jsakkine commented on #19
Sounds fair enough.

[2018-12-22 09:20] esaruoho commented on #120
@jsakkine i just left the channel

[2018-12-22 09:54] jsakkine commented on #105
@esaruoho: what I would propose is to add a section to `README.md`. That would be really useful. You get the initial list from what you have here. We can then update it when we get something working.

[2018-12-22 09:55] jsakkine commented on #105
But maybe just a coarse matrix with platform and target to keep it nice, compact and easy to look at.

[2018-12-22 12:20] asimilon commented on #130
I just forked that yesterday to add in some newer hosts in their host detection code, as we are using it in my day job and so for the people signed up to analytics it's good for us to know about the newer hosts :)
I like JUCE as it's what I started off with for audio plugin dev.  If there is a specific reason to migrate (something JUCE can do that VSTGUI doesn't) then I can see the value, otherwis

[2018-12-22 12:36] jsakkine commented on #130
Emailed. Hope we get some feedback :)

[2018-12-22 12:39] baconpaul commented on #19
I definitely used issues for Mac that way. One for “get it to build” one for “get it to load in logic” one for “get it to load in logic with the ui” then one for “fix the packaging nd so on” roughly. I’d encourage same here. So close this ticket when any flavor of any Linux host shows the ui and makes a beep then make new tickets for what comes next.

[2018-12-22 12:41] asimilon commented on #94
Things that 100% need to be avoided on the audio thread:
 - allocations
 - disk i/o

else risk dropouts.  That stuff needs to be done on a separate thread with communication between the two.

[2018-12-22 12:43] baconpaul commented on #15
It would be lovely to have a contribution agreement. Are there any standard open ones folks use for smaller GPL3 projects? @jsakkine if you know of one want to open another issue? I agree we should close this one.

And the original copyright holder chose GPL3 and the rest of us contributed knowing that, so I agree, it’s unlikely to change.

[2018-12-22 12:44] #15 closed

[2018-12-22 12:44] baconpaul commented on #137
Very interested to see how this plays out. Thank you.

[2018-12-22 12:45] baconpaul commented on #105
Yeah @esaruoho maybe you can make docs/COMPATABILITY.md then point people at that from the README. We can update it when we get improvements. Good idea!

[2018-12-22 12:49] baconpaul commented on #130
I think the practical reason for why this isn’t a JUCE application has, at least in part, the fact that it was version 1.0 in 2005. I agree that JUCE could make a lot of our wrangling easier - it’s a pretty good bit of kit with a great license for open source projects - and could also save us pain on things like an AUv3 port in the future.

But  I also completely agree: We should get what we have

[2018-12-22 13:17] baconpaul commented on #94
I completely agree with that!

Like I said, my AULOG is a gross hack I used so I wasn't blind (and now I'm in vst I have a not-for-commit similar gross hack). It's really tough and slow to attach a debugger to logic. Much easier to rebuild with a printf, alas. (I have an entire side commentary on the history of debuggers).

Pantheios looks very interesting. Thanks for the link.

[2018-12-22 13:45] jsakkine commented on #15
Not really expert on contribution agreements and to initiate it you would have to get everyone to agree who has contributed so far to have one. You **can** have that or change the license by creating an issue and asking everyone (including @kurasu) to "sign" it. Agreeing with the license change is probably easier than getting everyone to give away their copyright to the changes that they have writ

[2018-12-22 13:47] jsakkine commented on #15
For example, Linux has multiple copyright holders, not a single entity.

[2018-12-22 13:49] baconpaul commented on #15
I was wondering if there was a cc-sa-4.0 style contribution agreement but then you we need an entity or an individual who will hold the copyright and to administer the execution of it and so on. I don't think it's going to happen.

So GPL3 merged copyright is probably how we will stay. I'm fine working that way on this project!

[2018-12-22 14:08] getdunne commented on #14
I used the latest code pulled from GitHub, so this should be up to date. The only interesting aspect here is that there are a few patches which don’t work in 32-bit, and this may serve as a clue to where there might be a code problem such as questionable typedefs, casts, or struct definitions.

[2018-12-22 14:42] esaruoho opened #139 "suggestion: if wavetable has LFO applied to it - modify wavetable visual on top-left-corner"
suggestion: if you map a LFO to the wavetable ((Shape)) - offer the user the capability of seeing the wavetable modified on-the-fly.
and to disable that if the user so chooses.

[2018-12-22 15:18] jsakkine commented on #130
@baconpaul, fully agree.

[2018-12-22 15:55] jsakkine commented on #94
@baconpaul, maybe it is better that you experiment with this? I anyway have my hands full with CMake and you have already sprinkled some logging code that would need to be replaced.

[2018-12-22 16:43] jsakkine commented on #120
OK, so now I have ChanServ there and I get ops from it so the channel can be rejoined again. I will enable the logging a bit later today.

[2018-12-22 17:54] baconpaul commented on #94
Yeah I will do so. For now I have it set up so my logging code doesn’t compile in vst3 on purpose so I won’t commit it to the mainline and just have it in startup on au. Will keep it that way until I investigate here.

[2018-12-22 18:10] baconpaul commented on #94
From a bit of poking around spdlog (https://github.com/gabime/spdlog) looks like it may be a good choice. Header only. Git repo so it can be done as a Submodule. Cross platform. Async. Scalable. Compile time disable-able. Lots of blog posts saying it is fast.

Anyone here have any validating or contradicting views on that library?

[2018-12-22 22:09] Jorgeelalto commented on #16
Reaper also has an option to install the app as a portable app - you only need to run the setup once (for a version number, that is), which extracts the executable and all the needed folders and files on the same folder. Then you can move that Reaper folder wherever you want and it will work.

For me I also think a portable install is better but I suppose giving the user the option is the best bet

[2018-12-23 00:39] asimilon commented on #94
@baconpaul

I use [Hosting AU](http://ju-x.com/hostingau.html) as a lightweight AU host for debugging.

[2018-12-23 01:13] baconpaul commented on #94
Wow thanks! I didn't have a middle ground between au lab and logic. That looks great.

[2018-12-23 02:11] baconpaul commented on #139
Looking at the code, I think that would be hard. The redraw code samples the oscillator once and blats out the entire bitmap. It's not like it is observing the signal realtime and tracing it scope style. So which part and cycle of the LFO would you use? When is the LFO triggered to make the display? etc...

Or maybe you are thinking of something else?

*BUT* reading the code did make me realize th

[2018-12-23 02:12] baconpaul commented on #139
<img width="760" alt="screen shot 2018-12-22 at 9 12 06 pm" src="https://user-images.githubusercontent.com/13387561/50380214-3e993100-062e-11e9-9ac7-2cc1e9f32ca2.png">

See? Isn't that better!

[2018-12-23 02:20] baconpaul opened #141 "Step Sequencer Display on MacOS"
In COscillatorDisplay and CLFOGui I had to change the colmap to make sure it used the correct raw mac RGBA ordering. Look at the #if mac sections or at PR #140 after @esaruoho asked a question in #139

Grepping before bed for if anyone else has a coltable with a similar bug, I see CStepSequencer does.

Here's how the manual says it should look

<img width="570" alt="screen shot 2018-12-22 at 9 18

[2018-12-23 06:43] whydoubt commented on #130
Having poked at both Surge and VSTGUI on Linux for a bit now, I feel that VSTGUI on Linux is rather unstable.  Some things are getting fixed, while others get broken.  It's no wonder I wasn't finding other Linux VST plugins using VSTGUI.

[2018-12-23 12:08] jsakkine commented on #120
https://freenode.logbot.info/surgesynth/ there it is.

[2018-12-23 12:08] #120 closed

[2018-12-23 12:13] jsakkine commented on #94
@baconpaul I've heard people using spdlog and not complaining about that too much. It also uses cmake like vst3sdk. I don't exactly know what we gain from this synergy when I convert also Surge to use cmake but that neither can be bad a thing.
@asimilon You can log while playing audio if the logging is implemented right (e.g. copying logs to a buffer and let another thread eventually take care of

[2018-12-23 12:34] jsakkine commented on #130
My wild guess is that is the conclusion that they ended up with Tunefish.

[2018-12-23 12:36] jsakkine commented on #94
@baconpaul you can push spdlog whenever you want. Does not effect on what I'm doing.

[2018-12-23 12:43] baconpaul commented on #120
Mind tossing in a pr to update the readme sometime?

[2018-12-23 12:52] baconpaul commented on #130
Rewriting the ui and build deploy process in juce is “a lot of work” though. Is that work which you conclude is needed? Or is there some other idea of what to do?

Also what’s needed to run it and see the bugs? Currrmt master isn’t even that far is it?

Thanks!

[2018-12-23 12:55] jsakkine commented on #130
We could target 1.7 release DoD that it works for macOS and Windows. I do agree that it would be grazy to do any type of switch right now. Still waiting response from Tunefish devs. That is worth looking through. But yeah, that is what I think would be sane way to manage this project further with the current knowledge.

[2018-12-23 12:57] jsakkine commented on #120
Done :)

[2018-12-23 13:01] jsakkine commented on #130
If we ignore the GUI, most of the time fixing something for macOS, will fix it also for any *nix.

[2018-12-23 13:18] baconpaul commented on #120
Thanks!!

[2018-12-23 13:59] davephillips commented on #19
I had some time this morning to work on debugging Linux surge. This report comes from the VeeSeeVSTRack vst2-debug-host utility:

[code]
I also ran it on the VST3 binary:

[code]

So one or more object files aren't being linked ?

[2018-12-23 14:11] baconpaul commented on #19
The VST3 one is actually a bug in the steinberg API. See the discussion in #130

I don't know if @whydoubt has a solution but maybe we could do something like storing a vst3dk.patch in scripts/linux and applying it after we do the git submodule until the underlying lib is fixed? Unless I misunderstood the @whydoubt comment and post to steinberg issue tracker.

[2018-12-23 14:29] jsakkine opened #144 "A model proposal for releasing"
Model that I've had in mind for releasing new "feature" releases:

- Have master branch for the bleeding edge.
- Once a release is decided to freeze merge it to a branch called next that takes only bug fixes on top of the freezed master. Bug fixes go first to master and are cherry picked to next.
- Release rc's are done on a weekly basis up until it is considered "good enough". There should be a t

[2018-12-23 14:46] jsakkine commented on #144
For this whole project I would set the bar as high as doing something that would be in the long run be competitive with commercial offerings such as Serum and Omnisphere. In order to reach that we need a solid way how develop this. No reason to set bar lower than that with such a good mixture of differing talent :)

[2018-12-23 15:02] baconpaul opened #146 "LFO FreeRun doesn't in AU Host"
So fixing the step sequencer I put it in freerun mode so that it would, well, freerun and sync. But it still key triggered.

Looking at the code it seems nothing ever sets the run mode to `lm_freerun`

[code]

so another bug to fix I think. It may be just that the GUI doesn't set the flag properly and then it all works (so it is in CLFOGui.cpp) but that commented out bit in the modulation source m

[2018-12-23 15:04] baconpaul commented on #144
We definitely need @kurasu to chime in here also.

I agree with rc branches. That's a smart way to work. I don't know if we need a separate repo for full release but definitely branches for those also make sense.

I worry we are short manpower to do this like a full blown professional offering though. Each of us will come and go etc...

But it is a really cool synth. Glad to have it in my rig!

[2018-12-23 15:07] jsakkine commented on #144
Yes, with I'm thinking with the long run goal like few years of timeline :) With a good release model things will improve without you even noticing it.

[2018-12-23 15:16] #141 closed

[2018-12-23 15:20] baconpaul commented on #144
Agree. @kzantow s work on a pipeline will be an important part of this too.

It would be lovely to have an rc-1 ready bit of software too. The synth sounds great and has a really clever modulation architecture. I think I will use it quite a lot!

[2018-12-23 15:31] jsakkine commented on #144
Yeah, it is one of the best releases even when it comes to groovy housy twisted daytime psytrance. The guy who made it pinged me to do something to this project. That is why I'm here :)

[2018-12-23 15:36] kzantow commented on #14
@getdunne maybe if you start compiling a list of problematic patches and post them here, it could help to diagnose things?

[2018-12-23 15:47] kzantow commented on #144
Something we do in another OSS project I'm a part of: just create release branches. Master should always be bleeding edge, when we want to do a release, then create something like `release/<version>` branch, test that, apply fixes, merge back to master. This way it's fairly straightforward to apply fixes to the latest release and always just merge it back into master as well as building older rele

[2018-12-23 15:48] kzantow commented on #144
Also, i'm _just about_ done being able to build/release 64-bit osx and windows installers. Hit a snag with windows bash + sed not using the same expression syntax as mac. :-/

[2018-12-23 15:50] kzantow commented on #144
... but I'm currently uploading binaries into my forked git repo and just updating a `gh-pages` site with links to them, which is less than ideal and certainly not what people would like for "official" releases. At some point, maybe @kurasu could chime in where to upload installers and such, and then take over my build script with an official OSS Azure Pipeline project. Or I can set that up and pr

[2018-12-23 16:56] jsakkine commented on #144
In Linux, fixes go always first to master (if you imagine it was just one Git, actually goes to subsystems master) and from there it is backported stable releases.

[2018-12-23 16:59] jsakkine commented on #144
... just pointing out the difference. In some other issue there was discussion about 1.7 so thought to start the conversation. I'm happy with any model that works but maybe it would be time to carve something, maybe even document it?

[2018-12-23 17:01] kzantow commented on #144
Yeah, I find the aforementioned fix on branch strategy to be easy for small projects, because you can always merge up to master and make sure master has all fixes. Cherry-picking fixes back into release branches is okay, just a little harder to follow what's there vs. master, from what i've seen.

[2018-12-23 17:02] kzantow commented on #144
... and sometimes you already have something fixed on master (or no longer relevant) so cherry-picking back to a release branch, then merging the commit sha with no changes still keeps the 'always-merge-to-master' strategy working easily to make sure all fixes are there

[2018-12-23 17:05] jsakkine commented on #144
@kzantow that strategy WFM. Thanks for explaining.

[2018-12-23 17:47] baconpaul commented on #144
I’m glad to follow your guys lead on this. Have worked lots of ways over the years. Any plan that works four our team of volunteers is great.

Maybe it’s time for a doc/Developer.md or some such laying out whatever you two think is right then see if @kurasu agrees.

[2018-12-23 17:52] kzantow commented on #144
@baconpaul good idea, probably also laying out the actual build/release portion, too. that way it won't get lost in issue comments ;)

[2018-12-23 19:56] whydoubt commented on #19
@baconpaul As much as I dislike the idea of that patch, it's probably our best bet.  I'll look into it.  It's going to end up with a lot more than just the getTicks64 fix.

[2018-12-23 20:45] jsakkine commented on #19
Wouldn't more clean way be to fork Steinbergs repo and use that as the submodule instead of official?

[2018-12-23 20:54] baconpaul commented on #19
@jsakkine I kinda like using the official repo for Mac and windows but I would be fine to have a vst3-patch-linux Submodule also and then use that in Linux sure. We probably want to move Submodules to a directory (like “deps”) soon too since we may add a few with the open tickets we have here.

Any license issues with a fork vs patch?

[2018-12-23 21:04] whydoubt commented on #19
We'd have to do that recursively.  First, forking and changing vst3_base.  Second, forking and changing vst3sdk to point to the forked vst3_base.  Third, change Surge to point to the forked vst3sdk.

Also, vst3_base isn't the only sub-submodule that will need to be changed.

[2018-12-23 21:19] baconpaul commented on #19
Yeah clearly the best solution is that the library not be broken!

I think “whoever does the work decides which course is easiest” is the answer we will get. I would probably do a patch file in scripts/linux. But I’m not doing it so see the prior answer :)

[2018-12-23 21:30] jsakkine commented on #19
I mean if we need to fix something lets say two months from now we would have a repository to land the fixes.

[2018-12-23 21:37] jsakkine commented on #19
Would be good to have own Github organization for Surge where we could place whatever related repositories we want.

[2018-12-23 23:41] jsakkine commented on #144
@kzantow I think we have here everything needed. At this point could be just a section in README.md?

[2018-12-24 00:37] kurasu commented on #91
I started converting some of the old PSD source images I had to vector versions, starting with the background image. I'm using the branch "kurasu/assets" for this. I could easily provide a few more soon like the sliders so anyone who wants to work on a high-DPI version has the material he needs.

I think for Surge the best (or at least the easiest, from a theoretical POV) approach for scaling is t

[2018-12-24 00:53] kurasu commented on #144
@jsakkine Sounds good to me, I don't have a very strong opinion as long as its clear.

[2018-12-24 00:55] baconpaul commented on #91
400% bitmap assets would solve a lot of problems. At least in the au host the scale operation you describe is remarkably easy. It’s basicalky how I baked zoom in already. Kinda started whacking it into vst3 also.

Agree with the problems with svg. They are limited and the code to render them in vstgui is not as much fun to write as I was hoping even though I have it starting to kinda work. Nightma

[2018-12-24 01:10] jsakkine commented on #144
Cool, I'll scrape something out based on mine @kzantow's comments so that we have a framework to do 1.7 release.

[2018-12-24 10:55] inigokennedy commented on #146
Not sure if it is directly related, FreeRun does work (at least in some cases) but it also resets rather than genuinely free runs so if you are running in short loops it constantly restarts. From the code it looks like it is tied to _songpos_ which would explain that - not desirable for genuine free run in my opinion (and one of my pet peeves over the years) but not sure if it can be counted as a

[2018-12-24 12:35] baconpaul commented on #146
Right. I will dig more but the thing that made me say this was I put a step sequencer in free run mode and bound it to pitch. I press c and it beeps and boops. When I hold down an e in a bit with the c depressed I expected them to be synced - if the sequencer was free running the keypress on the new voice should change the lfo start position - but that was not what happened. Rather it retriggered

[2018-12-24 15:57] inigokennedy commented on #146
I wonder if what you describe is a Temposync bug. With Temposync on the modulation rate then the modulation of multiple note triggers is synchronised (it's like Temposync is absolute rather than relative - maybe this is where _songpos_ comes into it and in effect every voice is locked to the same base rather than being independent). I would say this is incorrect behaviour although it might be the

[2018-12-24 22:53] baconpaul commented on #146
Right so the code for freerun does set phase off of songpos.

Here's kinda what I'm expecting. Imagine I have a square wave LFO. It is on or off. In ascii art I will describe that as `^^__^^__^^__` for 3 cycles.

In key trigger mode if I play two notes at different times (here N1 and N2) I expect their voice LFOs to look like this

[code]

whereas if I am in free run mode and I press the two notes

[2018-12-25 13:18] jsakkine commented on #137
Enough of merry jolly ho ho ho for me. Had one blocker with this: we have multiple targets with the same filename, which cmake does not allow (you can enforce it though with an option but it is not really a good practice so lets not do that).  What you can do, however,  is to have different names for different targets (e.g. target for the AU plugin ought to be  `Surge-au`) and use a properties cal

[2018-12-25 13:31] jsakkine commented on #137
I'll do Linux and macOS targets and make the first PR. Does not matter if the Windows is not here because not going to make a commit that would remove `premake5.lua`.

[2018-12-25 14:52] baconpaul commented on #146
OK so I figured out what's going on here. The problem is entirely in the AU implementation of transport and timecode. I'll get a fix PR together in the next week or so.

[2018-12-25 15:52] jsakkine commented on #137
One thing I'm doing differently other than the whole build system, is to use explicit list of source files. It removes one angle of unpredictable behavior when making builds. I consider wildcards in project files a harmful anti-pattern.

[2018-12-25 15:58] jsakkine commented on #137
[code]

i.e. the first option it is.

[2018-12-25 16:12] inigokennedy commented on #146
Great find! Yes, the VST seems to behave OK in this respect from memory (away from studio at the moment). I’m on Win x64 so no AU to test against. Those ascii diagrams were spot on and reminded me of beta testing Claes’s ShortCircuit many years ago; I described a timing bug in a very similar way :D

It’s behaviour by design that freerun phase is driven by songpos and it has its advantages (predict

[2018-12-25 16:36] baconpaul commented on #146
Yeah songpos to freerun is absolutely the right behavior. Unless transport is stopped! That was basically the au bug.

[2018-12-26 02:49] baconpaul commented on #119
I have this fixed in baconpaul/surge on branch rename-popup-119. It's behind #148 so I'll hold off on the PR until I get feedback on that one. But no need for anyone to work on this.

[2018-12-26 17:53] baconpaul commented on #75
Fixed at head; closing.

[2018-12-26 17:53] #75 closed

[2018-12-26 17:54] baconpaul commented on #119
Fixed at head. Closing.

[2018-12-26 17:54] #119 closed

[2018-12-26 18:35] esaruoho commented on #139
![surge_vv](https://user-images.githubusercontent.com/4966687/50454068-c7c1a800-094d-11e9-8292-e2596eae6297.gif)

this thing here
followed by what happens when i map a LFO to shape (nothing happens visually)

[2018-12-26 18:39] esaruoho opened #157 "Update Surge-plugin About screen?"
mainly talking about the image below..
<img width="898" alt="surge_50-surge" src="https://user-images.githubusercontent.com/4966687/50454143-3b63b500-094e-11e9-9bac-1de932de4d06.png">

says 2005-2015, Vember Audio, and Version is 1.6.0.. where are these texts coming from?
I tried doing git greps but was unable to come up with anything.

[2018-12-26 18:46] baconpaul commented on #139
Right I got that. But what should happen? There’s not an obvious behavior since that display is not an oscilloscope.

BTW: Nice gif! How did you make that?

[2018-12-26 18:47] esaruoho opened #158 "feature request: map LFO to LFO?"
Hi, I'm wondering if Surge could be taken to the next level by being able to have a LFO1 control the speed of a LFO2 and so on. wdyt?

[2018-12-26 19:25] esaruoho opened #159 "feature request: map LFO to Waveshaper intensity?"
hi, would it be possible to map a LFO to the Waveshaper intensity?

[2018-12-26 19:58] esaruoho commented on #139
@baconpaul the app i use is called Licecap, and it is a gorgeous app to have available to oneself for testing purposes.. check https://www.cockos.com/licecap/ out

[2018-12-26 19:59] esaruoho commented on #139
@baconpaul well, yeah, what i was suggesting (now that i think about it more clearly, sorry) was that if an lfo is sending parameter changes to sliders, that the sliders update in realtime. and if they then update in real-time, the wavetable will "function "like" an oscilloscope". but that if it is extremely cpu hungry, it would be good to not have that.

but anyway, i'm fine with it never being a

[2018-12-26 20:05] esaruoho opened #160 "CHSwitch2 don't visually update when modified externally (was Osc1 Octave bug)"
Steps to replicate:
1. Move Osc1 Octave from -3 to +3
2. Add a controller for Osc1 Octave to DAW
3. Move slider in DAW to control Osc1 Octave

Expected results:
Osc1 Octave changes from -3 to +3 in real time

Current result:
Osc1 Octave does not change visually, but audio does change.

OTOH, mapping a Cutoff Filter to the same DAW will result in graphical update.

here is a gif
![surge_buggy updat

[2018-12-26 20:09] esaruoho opened #161 "feature request: make effect chain parameters LFO-bindable"
would be absolutely awesome if effect chain parameters could be LFO-bindable

[2018-12-26 20:41] esaruoho commented on #158
ahaa! thanks! cheers :) now i get what the arrows mean. sorry about this.

[2018-12-26 21:09] whydoubt commented on #157
https://github.com/kurasu/surge/blob/master/resources/bitmaps/bmp00158.png

[2018-12-26 22:03] kzantow commented on #97
@esaruoho Almost done with an initial stab at a Mac/Win automated build script; just need to solve a `sed` issue on windows or rewrite some small regex replacement bit using Python (of course 2.x on Mac and 3.x on Windows... *sigh* but shouldn't be an issue). I've been busy, but might be able to get this done tonight.

[2018-12-26 22:04] kzantow commented on #126
@esaruoho no; however if someone could provide any Visual Studio commands I can run to build Win 32, I'll be happy to add them to the build script(s). For now, closing this as it was related to a `NuGet` issue

[2018-12-26 22:04] #126 closed

[2018-12-26 22:20] kzantow commented on #91
seems like just having a couple zoom levels would be easiest. like just a button to zoom 200% either on or off.

[2018-12-26 22:45] kzantow opened #162 "Add standard stereo controls for unison"
Currently unison [seems to be] implemented in mono. It would be much nicer to add stereo width and detune like most modern synths have. One question is where to put this in the UI, any suggestions welcome.

[2018-12-27 00:58] baconpaul commented on #157
Yeah this is just an image blatted on.

In an ideal world, our build pipeline would create some file which had some defined strings we could paint on the screen. But it doesn't yet. @jsakkine is it possible cmake could construct "versions.h" or some such at build time so we could do this?

[2018-12-27 01:35] baconpaul commented on #160
Anyway able to reproduce this in logic pro with the AU. Will look.

[2018-12-27 01:58] baconpaul commented on #94
Super embarrassingly (for me) @kzantow points out that I can just run Logic Pro from terminal if I want to see the stdout and stderr, so this isn't needed.

It was a super useful thing that let me squash a lot of bugs. Just there's a way better way to do it.

So I'm going to close this and delete the code unmerged.

Sorry for the noise.

[2018-12-27 01:58] #94 closed

[2018-12-27 02:02] baconpaul commented on #160
Just as a note to myself, since I now have to go back down my needless logging code (d'oh) the difference between a filter cutoff and the oscillator octave is that the filter cutoff has a parameter in param[ j ] around line 300 of SurgeGUIEditor and the octave does not. So we need some other "if" in there for discrete controls that I don't know yet.

[2018-12-27 02:30] whydoubt opened #164 "VST3: Split Processor vs Controller?"
SurgeVst3EditController is unused.  Either the processor and controller should be split properly into separate components, or this vestigial controller should go away.  Knowing the history of the VST3 code could be of value here.  FWIW, Steinberg discourages using the single-component pattern for VST3 plugins.

From messing with the code a bit, the main issue I run into with trying to split the co